:root {
  --spanish-viridian: #007f5fff;
  --spanish-green: #2b9348ff;
  --green-ryb: #55a630ff;
  --apple-green: #80b918ff;
  --android-green: #aacc00ff;
  --bitter-lemon: #bfd200ff;
  --pear: #d4d700ff;
  --pear-dark: #dbc500;
  --titanium-yellow: #dddf00ff;
  --xanthic: #eeef20ff;
  --maximum-yellow: #ffff3fff;
  --classic-grey-1: #cfcfcf;
  --classic-grey-2: #c7c7c7;
  --classic-grey-3: #585858;
  --classic-white: #ffffffff;
  --classic-black: #00000000;
  --alert-red: #a94442;
  --alert-red-dark: #750200;
  --alert-red-bright: #ff0400;
  --device-sm: 576px;
  --device-md: 768px;
  --device-lg: 992px;
  --device-xl: 1200px;
}
.sidebar {
  background-color: var(--classic-grey-3);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--classic-white);
  overflow: hidden;
}

.menu-item {
  display: flex;
  padding:10px;
  font-size: 1.5rem;
  cursor:pointer;
  color:var(--classic-white);
}
.menu-item a a:active a:hover{
  text-decoration: none;
}
.menu-item:hover{
  background-color:var(--classic-grey-2);
  color:var(--spanish-green);
}

.menu-item-child{
  background-color: var(--apple-green);
}

.menu-item-menu{
  background-color: var(--spanish-green);
  
}

.menu-item-menu:hover{
  background-color: var(--spanish-viridian);
  color:var(--classic-white);
}

.menu-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.menu-text{
  font-size: 1.2rem;
}

.menu-expand-icon{
  margin-left: auto;
  padding-right:5px;
}

.menu-item-logout{
  margin-top: auto;
}

.collapsed {
  width: 3%;
}

@media screen and (max-width: 992px) {
  .collapsed {
    width: 5%;
  }
  @media screen and (max-width: 768px) {
    .collapsed {
      width: 8%;
    }
    @media screen and (max-width: 576px) {
      .collapsed {
        width: 9%;
      }
    }
    @media screen and (max-width: 360px) {
      .collapsed {
        width: 13%;
      }
    }
  }
}

.expand {
  width: 9%;
}

@media screen and (max-width: 992px) {
  .expand {
    width: 12%;
  }
  @media screen and (max-width: 768px) {
    .expand {
      width: 16%;
    }
    @media screen and (max-width: 576px) {
      .expand {
        width: 21%;
      }
    }
    @media screen and (max-width: 360px) {
      .expand {
        width: 32%;
      }
    }
  }
}

.main-content{
  margin-left:3%;
}

@media screen and (max-width: 992px) {
  .main-content {
    margin-left: 5%;
  }
  @media screen and (max-width: 768px) {
    .main-content {
      margin-left: 8%;
    }
    @media screen and (max-width: 576px) {
      .main-content {
        margin-left: 9%;
      }
    }
    @media screen and (max-width: 360px) {
      .main-content {
        margin-left: 13%;
      }
    }
  }
}

.main-header{
  font-size: 2rem;
  color: var(--classic-grey-3)
}

.display-none {
  display: none !important;
}


.insights-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }
 
 .sub-insights{

     flex: 1 1 auto!important; /* The flex-basis CSS property sets the initial main size of a flex item */
     margin:10px;
     align-items: center;
     display: flex;
     flex-direction: column;
 }
 .sub-insights:hover{
     box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
 }
 
 .sub-insights strong{
     font-size: 5rem;
     color: var(--spanish-viridian);
 }
 
 .insights-left{
 
 }
 
 .insights-right{
     
 }

 .insights-wide{
   padding:10px;
 }