:root {
    --dark-green : 	#228B22 ;
    --spanish-viridian: #007f5fff;
    --spanish-green: #2b9348ff;
    --green-ryb: #55a630ff;
    --apple-green: #80b918ff;
    --android-green: #aacc00ff;
    --bitter-lemon: #bfd200ff;
    --pear: #d4d700ff;
    --pear-dark: #dbc500;
    --titanium-yellow: #dddf00ff;
    --xanthic: #eeef20ff;
    --maximum-yellow: #ffff3fff;
    --classic-grey-1: #cfcfcf;
    --classic-grey-2: #c7c7c7;
    --classic-grey-3: #585858;
    --classic-white: #ffffffff;
    --classic-black: #00000000;
    --alert-red: #a94442;
    --alert-red-dark: #750200;
    --alert-red-bright: #ff0400;
    --device-sm: 576px;
    --device-md: 768px;
    --device-lg: 992px;
    --device-xl: 1200px;
  }
  

* {
    margin:0;
    padding:0;
}


.header{
    color: var(--spanish-green);
    padding: 10px 0 10px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em;    */
    border-radius: 0.25rem;

}

.main-content{
    margin-bottom: 5rem;
}

.box-shadow{
    box-shadow: 0px 5px 5px black;
}
.margin-bottom{
    margin-bottom: 10px;
}
.order-view{
    padding: 10px 0 10px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em;    */
    
    border-radius: 0.25rem;
}


.order-view > h2{
    background-color:var(--spanish-green);
}

.order-view-map{
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em;    */
    border-radius: 0.25rem;
    text-align: center;
}

.order-view-map > *> button{
    margin-top:10px;
    padding:10px;
}

#map{
    height: 15rem;

}

.order-view-customer{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.items-divider{
    display: flex;
    background-color: var(--spanish-green);
    color:white;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

.order-view-shop{
    padding: 10px;
}
.order-view-shop >div> {
    padding: 10px;
    width: 100%;
}

.order-view-shop >div> table{
    padding: 10px;
    width: 100%;
}
.shop-summary{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.summary-box{
    background-color: var(--spanish-green);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 0.25rem;
}

.summary-content{
    font-size: 2rem;
}

.shop-details{
    padding:10px;
}

.order-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.order-summary > button{
    padding: 20px;
}

.profile-form{
    display: flex;
    flex-direction: column;
    
}

.profile-form > input{
    width: 75%;
}

.profile-form > *{
    margin-bottom:10px;
}

.profile-form-buttons{
    display: flex;
    
    justify-content: space-around;
}