:root {
  --spanish-viridian: #007f5fff;
  --spanish-green: #2b9348ff;
  --green-ryb: #55a630ff;
  --apple-green: #80b918ff;
  --android-green: #aacc00ff;
  --bitter-lemon: #bfd200ff;
  --pear: #d4d700ff;
  --pear-dark: #dbc500;
  --titanium-yellow: #dddf00ff;
  --xanthic: #eeef20ff;
  --maximum-yellow: #ffff3fff;
  --classic-grey-1: #cfcfcf;
  --classic-grey-2: #c7c7c7;
  --classic-white: #ffffffff;
  --classic-black: #00000000;
  --alert-red: #a94442;
  --alert-red-dark: #750200;
  --alert-red-bright: #ff0400;
}

body {
  font-family: Lato;
}

.btn {
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  border: 1px solid transparent;
  transition: 0.4s;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--green-ryb);
  color: var(--classic-white);
}

.btn-primary:hover {
  background-color: var(--spanish-green);
}

.btn-secondary {
  background-color: var(--classic-grey-1);
}

.btn-secondary:hover {
  background-color: var(--classic-grey-2);
}

.btn-red {
  background-color: var(--alert-red);
  color: var(--classic-white);
}

.btn-red:hover {
  background-color: var(--alert-red-dark);
}

.btn-yellow {
  background-color: var(--pear);
}

.btn-yellow:hover {
  background-color: var(--pear-dark);
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.65;
}

.btn-w-icon i {
  padding-right: 5px;
}

.btn-icon-only {
  font-size: 1rem;
}

.alert {
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: inherit;
  transition: opacity 0.15s linear;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  padding-right: 35px;
  opacity: 0.8;
}

.alert-red {
  color: var(--classic-white);
  background-color: var(--alert-red);
  transition: 0.3s;
}
.alert-red:hover {
  background-color: var(--alert-red-dark);
}
.alert-close {
  margin-left: 15px;
  color: var(--classic-grey-2);
  /* font-weight: bold; */
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert-close:hover {
  color: var(--classic-white);
}

.alert-green {
  color: var(--classic-white);
  background-color: var(--green-ryb);
  transition: 0.3s;
}
.alert-green:hover {
  background-color: var(--spanish-green);
}

.frm {
  display: block;
}

.frm input {
  border-radius: 0.25rem;
  border: 1px solid var(--spanish-green);
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.frm input:focus {
  border: 1px solid var(--spanish-viridian);
  outline: none !important;
  box-shadow: 0 0 10px var(--spanish-viridian);
}

.frm label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.frm select {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: 1px solid var(--spanish-green);
}

.frm select:focus {
  border: 1px solid var(--spanish-viridian);
  outline: none !important;
  box-shadow: 0 0 10px var(--spanish-viridian);
}

.input-pw-grp {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 0px;
  width: max-content;
}

.input-pw {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.toggle_pwd {
  right: 0;
  top: 0.6rem;
  cursor: pointer;
  position: absolute;
  margin-right: 0;
  margin-left: 0.5rem;
  padding-right: 1rem;
  color: #51ac37;
  font-size: 1rem;
}

.toggle_pwd::after {
  box-sizing: border-box;
}
.toggle_pwd::before {
  box-sizing: border-box;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  font-size: 1rem;
  transition: 0.3s;
}

table td {
  border-bottom: 1px solid var(--classic-grey-2);
}
.thead-green th {
  color: #fff;
  background-color: var(--green-ryb);
  border-color: var(--green-ryb);
  text-align: inherit;
}

.table-hover tr:hover {
  background-color: var(--classic-grey-2);
}

.row {
  display: flex;
}

.card {
  text-align: center;
  box-shadow: #00000029 0px 1px 4px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding:0.5rem;
}

.card:hover{
  box-shadow: #0000003d 0px 3px 8px;

}

.product-card {

}

.product-card-img {
  
}

.product-card-img {

}

.product-card-body {
  
}

.shop-card {


}


.shop-card:hover {
}

.shop-card-img {
  display: block;
  height: 180px;
  width: fit-content;
}

.shop-card-body {
  display: flex;
  flex-direction:column;
  text-align: left;
  
}
.shop-name{
  font-weight: bold;
  font-size: 1.5rem;
  color:var(--spanish-green)
}
.shop-name-des{
  background-color: var(--classic-black);
}
.stars {
  color: var(--classic-grey-1);
  display: flex;
}

.checked{
  color:var(--spanish-green);
}

.container{
  box-sizing: border-box;
}