
@import url('/css/fonts.css');


:root{
  --header-height: 2.5rem;
  --searchbar-height: 5rem;
  --first-color:#2b9348;
  --first-color-alt: #55a630;
  --title-color: #393939;
  --text-color:#707070;
  --text-color-light:#A6A6A6;
  --body-color:#ffffff;
  --container-color: #FFFFFF;
  --header-color: #f1faee;
  --input-background-color:#f7f7f7;

  --body-font: "Open Sans", sans-serif;
  --biggest-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size:1rem;
  --normal-font-size:1rem;
  --small-font-size: .8rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

}
*{
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background:var(--first-color);
  color:var(--body-color);
}

 html{
   font-size: 60%;
   overflow-x: hidden;
   scroll-padding-top: 6.5rem;
   scroll-behavior: smooth;
 }
 ul{
  padding: 0;
  list-style: none;
}
 section{
   padding: 2rem 9%;
 }
 .btn{
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--first-color);
  color:var(--body-color);
  padding: .8rem 3rem;
  font-size: var(--h1-font-size);
  border-radius: .5rem;
  transition: .3s;
}
.btn:hover{
  background-color: var(--first-color-alt);
}
.heading{
  text-align: center;
  color:var(--title-color);
  text-transform: uppercase;
  padding:1rem;
  font-size: var(--biggest-font-size);
  padding-bottom: 2rem;
}
.subheading{
  text-align: left;
  color:var(--title-color);
  text-transform: uppercase;
  padding: 1rem;
  font-size: var(--biggest-font-size);
  padding-bottom: 2rem;
  text-decoration: underline;
}
.heading span{
  color:var(--first-color);
  text-transform: uppercase;
}
.header-1{
  background:var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
 }

 .logo-img{
  padding-right: .5rem;
  max-width: 220px;
  height: auto;
  
 }
 .header-1 .back{
   font-size: 3rem;
   color:var(--title-color);
   padding: 0 1rem;
   border:.1rem solid rgba(0,0,0,.1);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
   border-radius: .5rem;
  }
 
  .back:hover{
    background-color: var(--first-color-alt);
    transition: .3s;
  }
.cart .container{
  display: flex;
  /* grid-template-columns: 3fr 1fr; */
  gap: 2rem;
  flex-wrap: wrap;
}
.cart .container .container-item{
  flex: 1 50rem;
  width: 100%;
  justify-items: left;
}
.cart .container .container-item .cart-header{
  text-align: center;
  padding:1rem 2.5rem;
  border:.2rem solid var(--first-color-alt);
  background-color: var(--header-color);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.cart .container .container-item .cart-header ul{
  display: inline-flex;
  font-size: var(--h1-font-size);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.cart .container .container-item .cart-header ul li{
  width: 64px;
  /* margin-right: 14%; */
}
.cart .container .container-item .cart-items .item img{
  width: 64px;
}
.cart .container .container-item .cart-items{
  display: flex;
  flex-wrap: wrap;
  
}
.cart .container .container-item .cart-items .item{
  flex: 1 100rem;
  display: inline-flex;
  font-size: var(--h1-font-size);
  align-items: center;
  padding: 1rem 2.5rem;
  justify-content: space-between;
  border-bottom: .2rem solid rgba(0,0,0,.2);
  overflow: hidden;
  position: relative;
  
}
.cart .container .container-item .cart-items .item div {
  margin-right: 2%;
}
.cart .container .container-item .cart-items .item .quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: .5rem;
  border-radius: .5rem;
  border: .3rem solid rgba(0,0,0,.5);
  color: var(--header-color);
}
.cart .container .container-payment{
  /* flex: 1 20rem; */
  text-align: left;
  font-size: var(--h1-font-size);
  padding: 2rem;
  border:.2rem solid var(--first-color-alt);
  background-color: var(--header-color);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.cart .container .container-payment .details{
  align-items: center;
  padding: 1rem 0;
  border-bottom: .2rem solid rgba(0,0,0,.2);

}
.cart .container .container-payment .details span{
  float: right;
  font-weight: bold;
}
.cart .container .container-payment .checkout{
  float: right;
}
  .footer{
    background-color: var(--header-color);
  }
  .footer .box-container{
    
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
  }
  
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
  }
  
  .footer .box-container .box .communication a{
    padding:0;
    height:4rem;
    width:4rem;
    line-height: 4rem;
    text-align: center;
  }
  
  .footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--title-color);
  }
  
  .footer .box-container .box p{
    font-size: var(--h2-font-size);
    color:var(--text-color);
    padding:.7rem 0;
  }
  
  .footer .box-container .box .links{
    padding:1rem 0;
  }
  .footer .box-container .box ul .element{
    display: block;
    padding:.5rem 0;
    font-size: var(--h1-font-size);
    color:var(--title-color);
  }
  .footer .box-container .box .links a{
    display: block;
    padding:.5rem 0;
    font-size: var(--h1-font-size);
    color:var(--title-color);
  }
  
  .footer .box-container .box .links a:hover{
    text-decoration: underline;
    color:var(--first-color-alt);
  }
  .features-logo{
    width: 64px;
    height: 64px;
  }
  .footer-copyright{
    text-align: center;
    font-size: var(--h1-font-size);
    color: var(--text-color);
    margin-top: 2.5rem;
  }
  
/* media queries  */

@media(max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media(max-width:991px){

  .header-1{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media(max-width:768px){


}

@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .heading{
    font-size: 3rem;
  }

  /* .header-1{
    flex-flow: column;
  } */
  .logo{
    font-size: 4rem;
  }


}