
@import url('/css/fonts.css');


:root{
  --header-height: 2.5rem;
  --searchbar-height: 5rem;
  --first-color:#2b9348;
  --first-color-alt: #55a630;
  --title-color: #393939;
  --text-color:#707070;
  --text-color-light:#A6A6A6;
  --body-color:#ffffff;
  --container-color: #FFFFFF;
  --header-color: #f1faee;

  --body-font: "Open Sans", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size:1rem;
  --normal-font-size:1rem;
  --small-font-size: .8rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

}
*{
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}
  
*::selection{
  background:var(--first-color);
  color:var(--body-color);
}

 html{
   font-size: 60%;
   overflow-x: hidden;
   scroll-padding-top: 6.5rem;
   scroll-behavior: smooth;
 }
 ul{
  padding: 0;
  list-style: none;
}
 section{
   padding: 2rem 9%;
 }
 .btn{
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--first-color);
  color:var(--body-color);
  padding: .8rem 3rem;
  font-size: var(--h1-font-size);
  border-radius: .5rem;
  transition: .3s;
}
.btn:hover{
  background-color: var(--first-color-alt);
}

.heading{
  text-align: center;
  color:var(--title-color);
  text-transform: uppercase;
  padding:1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}
.heading span{
  color:var(--first-color);
  text-transform: uppercase;
}
 .header-1{
  background:var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
 }

 .logo-img{
  padding-right: .5rem;
  max-width: 220px;
  height: auto;
  
 }
 .header-1 .logout{
   font-size: 3rem;
   color:var(--title-color);
   padding: 0 1rem;
   border:.1rem solid rgba(0,0,0,.1);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
   border-radius: .5rem;
  }
  .logout:hover{
    background-color: #e63946;
    transition: .3s;
  }
  .header-2{
    background:var(--body-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
  }
  .part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 2%;
    position: relative;
  }
  .header-2.active{
    position: fixed;
    top:0; left: 0; right:0;
    z-index: 10000;
  }
  
  .header-2 .navbar a{
    padding:.5rem 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    color:var(--title-color);
  }
  .header-2 .navbar a:hover{
    background: var(--first-color-alt);
    color: var(--body-color);
    transition: .3s;
  }
  .header-2 .search-box-container{
    display: flex;
    height: var(--searchbar-height);
  }
  .header-2 .search-box-container #search-box{
   height: 100%;
   width:200%;
   padding:1rem;
   font-size: 2rem;
   color:var(--title-color);
   border:.1rem solid rgba(0,0,0,.3);
   border-radius:  0 0 0 1rem;
   text-transform: none;
 }
 .header-2 .search-box-container .search{
   height: 100%;
   width:15rem;
   border-radius: 0 1rem 0 0;
   font-size: 2rem;
   line-height: 5rem;
   color:#fff;
   background:var(--first-color);
   text-align: center;
   cursor: pointer;
 }
 .header-2 .search-box-container .search:hover{
   background: var(--first-color-alt);
 }
  .header-2 .icons a{
    font-size: var(--biggest-font-size);
    color:var(--title-color);
    padding-left: 1rem;
}
.header-2 .icons a:hover{
  color:var(--first-color-alt);
}

#menu-bar{
  font-size: 3rem;
  border-radius: .5rem;
  /* border:.1rem solid var(--title-color); */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  padding:.8rem 1.5rem;
  color:var(--title-color);
  cursor: pointer;
  display: none; 
}
#search-bar{
  margin-left: 5%;
}
.home{
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.home .image{
  flex: 1 1 40rem;
  padding-top: 5rem;
}
.home .image img{
  width: 100%;
}

.home .content{
  flex: 1 1 40rem;
  margin-left: 5%;
}
.home .content span{
  font-size: 3rem;
  font-weight: bold;
  color: var(--first-color);
}
.home .content h3 {
  font-size: 5rem;
  color: var(--title-color);
}

.banner-container{
  background-color: var(--header-color);
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.banner-container .banner{
  flex:1 1 40rem;
  height: 25rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  overflow: hidden;
  position: relative;
}

.banner-container .banner img{
  height: 100%;
  width:100%;
  object-fit: cover;
  filter: blur(1px);
  
}
.banner-container .banner .content{
  position: absolute;
  top:40%;
  left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner .content h3{
  font-size: 3rem;
  color:var(--title-color);
}

.banner-container .banner .content p{
  font-size: 2rem;
  color:var(--title-color);
}

.banner-container .banner:hover img{
  transform:scale(1.2) rotate(0);
  filter: blur(0px);
}
/* categorie */
.category .box-container{
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-top: 1rem;
  
}

.category .box-container .box{
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  text-align: center;
  padding:2rem;
  flex:1 1 25rem;
  box-sizing: border-box;
}

.category .box-container .box img{
  width: 20rem;
  margin:.5rem 0;
}

.category .box-container .box h3{
  font-size: 3.5rem;
  color:var(--black);
}

.category .box-container .box p{
  font-size: 2rem;
  color:#666;
  padding:.5rem 0;
}

.category .box-container .box .btn{
  display: block;
}
/* shop */
.shop .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  
}

.shop .box-container .box{
  flex:1 1 30rem;
  text-align: center;
  padding:2rem;
  box-shadow: 0 .5rem 1rem var(--first-color);
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
}

.shop .box-container .box img{
  width: 20rem;
  border-radius: .5rem;
  align-self: center;
  margin-top: var(--mb-6);
  margin-bottom: var(--mb-2);
}

.shop .box-container .box .rating{
  position: absolute;
  top:1rem; left: 1rem;
  background:rgba(0,255,0,.1);
  color:var(--green);
  padding:.7rem 1rem;
  font-size: 2rem;
}

.shop .box-container .box h3{
  color:var(--title-color);
  font-size: 2.5rem;
}

.shop .box-container .box .stars i{
  padding:1rem .1rem;
  font-size: 1.7rem;
  color:gold;
}

.shop .box-container .box .price{
  font-size: 2rem;
  color:#333;
  padding:.5rem 0;
}

.shop .box-container .box .price span{
  font-size: 1.5rem;
  color:#999; 
} 

.shop .box-container .box .btn{
  display: block;
}
.footer{
  background-color: var(--header-color);
}
.footer .box-container{
  
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box .communication a{
  padding:0;
  height:4rem;
  width:4rem;
  line-height: 4rem;
  text-align: center;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--title-color);
}

.footer .box-container .box p{
  font-size: var(--h2-font-size);
  color:var(--text-color);
  padding:.7rem 0;
}

.footer .box-container .box .links{
  padding:1rem 0;
}
.footer .box-container .box ul .element{
  display: block;
  padding:.5rem 0;
  font-size: var(--h1-font-size);
  color:var(--title-color);
}
.footer .box-container .box .links a{
  display: block;
  padding:.5rem 0;
  font-size: var(--h1-font-size);
  color:var(--title-color);
}

.footer .box-container .box .links a:hover{
  text-decoration: underline;
  color:var(--first-color-alt);
}
.features-logo{
  width: 64px;
  height: 64px;
}
.footer-copyright{
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--text-color);
  margin-top: 2.5rem;
}


/* media queries */


@media(max-width:1380px){

  html{
    font-size: 55%;
  }

}

@media(max-width:1280px){

  #menu-bar{
    display: initial;
  }

  .header-2 .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1rem 2rem;
    background:var(--first-color);
    border-radius: .8rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    display: none;
  }
  .header-2 .navbar{
    background: #2b9348;
    
  }
  .header-2 .navbar.active{
    display: initial;
  }

  .header-2 .navbar a{
    font-size: 2.5rem;
    display: block;
    text-align: center;
    background:var(--body-color);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    padding:1rem;
    margin:1.5rem 0;
    border-radius: 1rem;
  }

  .home .content{
    text-align: center;
  }

  .home .content h3{
    font-size: 4rem;
  }

}
@media(max-width:960px){

  .header-1,
  .header-2{
    padding:2rem;
  }

  .section{
    padding:2rem;
  }

}

@media(max-width:580px){
  html{
    font-size: 50%;
  }
  .heading{
    font-size: 3rem;
  }
  .header-2{
    flex-flow: column;
  }
  /* .header-2 .part .search-bar{
    margin-left: 5%;
} */
}