@import "dashboardStyle.css";


.btn {
  margin-top: 0;
  background-color: var(--first-color);
  padding: 0.5rem 0.8rem;
  font-size: var(--smaller-font-size);
}

.tabs {
  font-size: 0;
}
.tabs li {
  display: inline;
}
.tabs .btn-tab {
  display: inline-block;
  background-color: var(--home-color);
  color: var(--title-color);
  padding: 0.5rem 0.8rem;
  font-size: var(--small-font-size);
  border: 0.2rem solid var(--home-color);
  border-radius: 0.5rem 0.5rem 0 0;
  min-width: 128px;
  cursor: pointer;
  /* border-bottom: none; */
}
.tabs .btn-tab:hover {
  background-color: white;
  border-bottom: 0.2rem solid var(--first-color-alt);
}

.home-content .core {
  height: 640px;
}
.home-content .core .container-core {
  width: 100%;
  height: 220px;
  margin-bottom: 1rem;
  border: 0.1rem solid var(--home-color);
  border-radius: 0.5rem;
  /* justify-items: left; */
}

.home-content .core .container-core .container-core-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-content .core .container-core .table-header {
  padding: 1rem 2.5rem;
  border: 0.1rem solid var(--home-color);
  border-top: none;
  background-color: var(--header-color);
  border-radius: 0 0.5rem 0 0;
  overflow: hidden;
  position: relative;
}
.home-content .core .container-core .table-header ul {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.home-content .core .container-core .table-header ul li {
  font-size: var(--normal-font-size);
  width: 72px;
  /* max-width: 72px; */
  align-items: center;
  text-align: center;
}
.home-content .core .container-core .table-details,
.form-details {
  padding: 0.5rem 2.5rem;
  border: 0.1rem solid var(--home-color);
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--header-color);
  overflow: hidden;
  position: relative;
}
.home-content .core .container-core .table-details .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  flex-wrap: wrap;
}
.home-content .core .container-core .table-details .row li {
  font-size: var(--small-font-size);
  width: 72px;
  /* max-width: 72px; */
  align-items: center;
  text-align: center;
}
.home-content .core .container-core .table-details .row .row-img img {
  width: 40px;
  height: 40px;
}
.home-content .core .container-core .table-details .row input {
  width: 100%;
  height: 1.5rem;
}
.home-content .core .container-core .table-details .row .row-ubutton .btn-row {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.5rem 0.8rem;
  font-size: var(--smaller-font-size);
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}
.home-content .core .container-core .table-details .row .row-ubutton .btn-row:hover {
  background: var(--hover-color);
}
.home-content .core .container-core form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 1.5rem;
  align-items: center;
  padding: 1rem;
}
.home-content .core .container-core form .inputBox {
  display: grid;
  padding: .5rem;


}
.home-content .core .container-core form .inputBox label {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-top: .5rem;

}
.home-content .core .container-core form .inputBox i {
  padding-right: 0.5rem;
}
.home-content .core .container-core form .inputBox input,
.home-content .core .container-core form .inputBox select{
  width: 90%;
  margin-left: 0.5rem;
  height: 38px;
  border: 0.1rem solid var(--home-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.home-content .core .container-core form .inputBox textarea{
  width: 90%;
  margin-left: 0.5rem;
  height: 58px;
  border: 0.1rem solid var(--home-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.home-content .core .container-core form .inputBox input:focus,
.home-content .core .container-core form .inputBox textarea:focus{
  outline: 0.1rem solid var(--text-color-light);
}
.home-content .core .container-core form .btn-div {
  justify-content: right;
}
.home-content .core .container-core form .update {
  background-color: red;
  border-color: transparent;
  font-size: var(--normal-font-size);
  font-weight: bold;
  width: 150px;
}
.home-content .core .container-core form .submit{
  background-color: var(--first-color-alt);
  border-color: transparent;
  font-size: var(--normal-font-size);
  font-weight: bold;
  width: 150px;
}
.home-content .core .container-core form .update:hover {
  background-color: tomato;
  transition: 0.3s;
}
.home-content .core .container-core form .submit:hover {
  background-color: var(--first-color-alt);
  transition: 0.3s;
}
.home-content .core .container-core .scroller {
  height: 400px;
  overflow-y: scroll;
  scrollbar-color: var(--first-color);
  scrollbar-width: thin;
}
.form-container{
  height: 500px;
  border: 0.2rem solid rgba(43, 147, 72, 0.8);
  border-radius: .4rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
  display: none;
}
.form-container-delivery{
  height: 500px;
  border: 0.2rem solid rgba(43, 147, 72, 0.8);
  border-radius: .4rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
  /*display: none;*/
}
.scroller {
  height: 500px;
  overflow-y: scroll;
  scrollbar-color: var(--first-color);
  scrollbar-width: thin;
}

.register form {
  text-align: center;
  padding: 1rem 2rem;
}
.register form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}

.register form .inputBox {
  text-align: left;
  font-size: var(--h3-font-size);
  width: 100%;
}
.register form .inputBox i {
  padding: 0.5rem;
}

.register form .inputBox input,
.register form .inputBox select {
  color: var(--title-color);
  padding: 0.5rem;
  font-size: var(--small-font-size);
  background: var(--input-background-color);
  text-transform: none;
  border: 0.2rem solid var(--home-color);
  border-radius: 0.5rem;
  width: 100%;
}

.home-section nav .sidebar-toggle span,.dashboard {
    width: 300px;
}
.row-checkbox input[type=checkbox]{
  /*transform: scale(1.5);*/
}

.register form .inputBox img{
  width: 48px;
  height: 48px;
}


.select-radio{
  padding: .5rem 0;
  margin-bottom: 8px;

}
.fileInput{
  /*align-items: center;*/
}
#ProfilePic{
  width: 40%;
  /*display: block;*/
}
#output{
  height: 90px;
  width: 90px;
  float: right;
}

.select-radio .radio-label {
  font-size: var(--h3-font-size);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  padding: .5rem;
  margin-right:1rem;
  cursor: pointer;
  width: 120px;
  box-sizing: border-box;

}

.register .deny {
  color: var(--title-color);
  background-color: var(--home-color);
}
.register .deny:hover {
  color: white;
  background-color: rgb(255, 0, 0);
}
.map-inputBox{
  grid-column: 1/3 ;
}

#map {
  height:500px;
}
.show-form{
  display: block;
}
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  width: fit-content !important;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}
/*
.scroller{
  height: 600px;
  overflow-y: scroll;
  scrollbar-color: var(--first-color);
  scrollbar-width: thin;
}
*/
/*chart css*/
.chart-div-core{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.chart-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;


}
.chart{
  display: flex;
  position: relative;
  width: 40rem;
  padding: .5rem;
  align-items: center;
  /*height: 200px;*/

}
.report-brief{
  /*width: 30rem;*/
  /*height: 200px;*/
  border: .1rem solid var(--text-color-light);
  border-radius: .5rem;
  padding: .5rem;

}
.report-brief .details{
  font-size: var(--h3-font-size);

}
.home-content .core .container-core .reports-core{
  height: 400px;
}

.sub-heading {
  text-align: left;
  color: var(--title-color);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  padding: 1rem;
}
.sub-heading span {
  color: var(--first-color);
  text-transform: uppercase;
}


.table-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: .5rem;
}
.table-section .table-title{
  padding: .5rem;
  font-size: var(--h3-font-size);
  border: .1rem solid var(--first-color-alt);
  border-radius: .5rem;
  margin: .5rem;
}
.table-section .table-title i{
  color: var(--text-color);
  size: 1rem;
}
.table-info{
  border: .1rem solid var(--text-color-light);
  border-radius: .5rem;
  font-size: var(--normal-font-size);
  padding: .5rem;
  margin: .5rem;



}
.table-info tr{
  text-align: left;
}
.table-info tr> th{
  font-size: var(--normal-font-size);
  text-align: center;
}.table-info tr> td{
  font-size: var(--small-font-size);
}
.home-content .core-special{
  height: 800px;
}


#SalesDate {
  margin: .5rem;

}

.chart-heading{
  font-size: var(--h2-font-size);
  margin: .5rem;
  padding: .5rem;

}
/*.chart-data{*/
/*  border: .1rem solid var(--text-color-light);*/
/*  border-radius: .5rem;*/
/*}*/
.chart-div-new {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.chart-new{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: .5rem;
  align-items: center;
}

.headings{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.switch-staff {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch-staff input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--first-color-alt);
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.components{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.components .report{
  border: .05rem solid var(--text-color-light);
  border-radius: .5rem;
  margin: .2rem;
}
.row-img img{
  height: 48px;
  width: 48px;
}
.item-table{
  overflow: hidden;
  position: relative;
}

.overflow-fix{
  overflow: auto;
}
.header-field{
  padding: .5rem;
  align-items: center;
}
#SalesDateLabel1,#LCost{
  font-weight: bold;
}
#SalesDate1,
#ECost{
  padding: 4px;
  border-radius: .2rem;
  border: .1rem solid var(--text-color);
}
#report-btn{
  padding: .4rem;
  font-weight: 600;
  color: white;
  border-radius: .5rem;
  margin-left: .5rem;
  border: .1rem solid var(--text-color);
  background-color: var(--first-color-alt);
  font-size: var(--small-font-size);

}
#report-btn:hover{
  color: red;
  background-color: white;
  transition: .3s;
}
.details{
  padding: 1rem;
}
.details .details-div{
display: flex;
  justify-content: space-between;
  padding: .4rem;

}
.details .details-div label{
  font-weight: bold;
}
.details .details-div input{
  padding: 6px;
  font-weight: 600;
}
.back-arrow{
  font-size: 2rem;
  padding: 1rem;
  color: var(--text-color);
}
.back-arrow:hover{
  color: red;
  transition: .3s;
}