.home-content .core .delivery-core{
    border: none;
}
.table-scroll{
    width:100%;
    display: block;
    empty-cells: show;
    border-spacing: 0;
}

.table-scroll thead{
    border: 2px solid var(--home-color);
    border-radius: 0 0 8px 8px;
    position:relative;
    display: block;
    width:100%;
    margin-bottom: 5px;
    padding-right: 1rem;
    /*overflow-y: scroll;*/
}

.table-scroll tbody{
    /* Position */
    display: block; position:relative;
    width:100%; overflow-y:scroll;
    /* Decoration */
    border-radius: 0 0 8px 8px;
    border: 2px solid var(--home-color);
}

.table-scroll tr{
    width: 100%;
    display:flex;
}

.table-scroll td,.table-scroll th{
    flex-basis:100%;
    flex-grow:2;
    display: block;
    /*padding: 0.5rem;*/
    text-align:left;
    font-size: 14px;
    /*font-weight: 500;*/
    text-align: center;
    position: center;
}
.table-scroll th {
    font-size: 14px;
    padding: 1rem;
    font-weight: 500;
}

.table-scroll td {
    font-size: 13px;
    padding: 0.5rem;
    /*padding-bottom: 0;*/
    vertical-align:middle;

}

/* Other options */

.table-scroll.small-first-col td:first-child,
.table-scroll.small-first-col th:first-child{
    flex-basis:20%;
    flex-grow:1;
}

/*.table-scroll tbody tr:nth-child(2n){*/
/*    background-color: var(--home-color);*/
/*}*/

.body-half-screen{
    max-height: 30vh;
}

.small-col{flex-basis:10%;}



.btn-item:hover {
    background-color: var(--first-color-alt);
}

.order-view {
    background-color:transparent;
    font-size: var(--h2-font-size);
    color: var(--first-color-alt);
    /*padding-top: 0px;*/
    /*margin-top: 0px;*/
}
.order-view i:hover{
    color: red;
}


