.inputBox label {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-top: 0.5rem;
}

.OldPwd, .NewPwd, .ConfirmPwd {
    width: 90%;
    margin-left: 0.5rem;
    height: 38px;
    border: 0.1rem solid var(--home-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.container-core {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px;
    grid-gap: 1.5rem;
    align-items: center;
    padding: 1rem;
}

.update {
    background-color: red;
    border-color: transparent;
    font-size: var(--normal-font-size);
    font-weight: bold;
    width: 150px;
}