@import "variables.css";
:root {
  --header-height: 2.5rem;
  --header-color: #fff;
  --input-background-color: #f7f7f7;
  --input-background-color-2: #d8d5d5;

  --body-font: "Open Sans", sans-serif;
  --biggest-font-size: 3rem;

}

* {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  /* transition: all 0.2s linear; */
}

*::selection {
  background: var(--first-color);
  color: var(--body-color);
}

html {
  height: 100%;
  font-size: 60%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}
body{
  height: 100%;
}
ul {
  padding: 0;
  list-style: none;
}
section {
  padding: 2rem 8%;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.8rem 3rem;
  font-size: var(--h1-font-size);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--first-color-alt);
}
.heading {
  text-align: center;
  color: var(--title-color);
  text-transform: uppercase;
  font-size: var(--biggest-font-size);
  padding: 1rem 1rem 2rem;
}
.subheading {
  text-align: left;
  color: var(--title-color);
  text-transform: uppercase;
  font-size: var(--biggest-font-size);
  padding: 1rem 1rem 2rem;
  text-decoration: underline;
}
.heading span {
  color: var(--first-color);
  text-transform: uppercase;
}
.header-1 {
  background: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.logo-img {
  padding-right: 0.5rem;
  max-width: 220px;
  height: auto;
}
.header-1 .back {
  font-size: 3rem;
  color: var(--title-color);
  padding: 0 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.back:hover {
  background-color: var(--first-color-alt);
  transition: 0.3s;
}

.register form {
  text-align: center;
  padding: 2rem;
  border: 0.5rem solid rgba(43, 147, 72, 0.8);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
.register form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.register form .inputBox {
  text-align: left;
  font-size: var(--h1-font-size);
}
.register form .inputBox i,
.register form .location i {
  padding: 0.5rem;
}

.register form .inputBox input,
.inputBox select {
  padding: 1rem;
  font-size: var(--h1-font-size);
  background: var(--input-background-color);
  text-transform: none;
  margin-top: 1rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  width: 100%;
}

.register .inputBox.success input {
  border-color: #2ecc71;
}
.register .inputBox.error input {
  border-color: #e74c3c;
}
.register .inputBox .iconSE {
  visibility: hidden;
  position: relative;
  top: -40%;
  right: -85%;
}
.register .inputBox.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}
.register .inputBox.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}
.register .inputBox small {
  font-size: var(--h2-font-size);
  visibility: hidden;
  position: relative;
  bottom: 0;
  left: -8%;
}
.register .inputBox.error small {
  color: #e74c3c;
  visibility: visible;
}
.register .inputBox input:hover,
.inputBox select:hover {
  border: 0.2rem solid rgba(86, 156, 106, 0.8);
}
/*.register .btn-align {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(1, 1fr);*/
/*  gap: 1rem;*/
/*}*/
.register .button {
  height: 4rem;
  font-size: var(--h1-font-size);
  width: 100%;
}
.register .deny {
  color: var(--title-color);
  background-color: var(--input-background-color-2);
}
.register .deny:hover {
  color: white;
  background-color: rgb(255, 0, 0);
}
.footer {
  background-color: var(--header-color);
}
.footer .box-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box .communication a {
  padding: 0;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--title-color);
}

.footer .box-container .box p {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  padding: 0.7rem 0;
}

.footer .box-container .box .links {
  padding: 1rem 0;
}
.footer .box-container .box ul .element {
  display: block;
  padding: 0.5rem 0;
  font-size: var(--h1-font-size);
  color: var(--title-color);
}
.footer .box-container .box .links a {
  display: block;
  padding: 0.5rem 0;
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.footer .box-container .box .links a:hover {
  text-decoration: underline;
  color: var(--first-color-alt);
}
.features-logo {
  padding: 0.5rem;
  width: 64px;
  height: 64px;
}
.footer-copyright {
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--text-color);
  margin-top: 2.5rem;
}


.map-inputBox{
  grid-column: 1/3 ;
}

#map {
  height: 100%;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  width: fit-content !important;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}
/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header-1 {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .register form .inputBox {
    /*grid-template-columns: repeat(1, 1fr);*/
    grid-column: 1/3 ;
  }
  .footer .box-container .box {
    flex: 1 1 15rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
  .logo {
    font-size: 4rem;
  }
}
