
.table-item{
    width:100%;
    display: block;
    empty-cells: show;
    border-spacing: 0;
    counter-reset: rowNumber;
}

.table-item thead{
    border: 2px solid var(--home-color);
    border-radius:8px;
    position:relative;
    display: block;
    width:100%;
    margin-bottom: 5px;
    padding-right: 1rem;
}

.table-item tbody{
    display: block; position:relative;
    width:100%;
    overflow-y:scroll;
    border-radius: 8px;
    border: 2px solid var(--home-color);
    height: 25rem;
}

.table-item tr{
    width: 100%;
    display:flex;
}

.table-item td,.table-item th{
    flex-basis:100%;
    flex-grow:2;
    display: block;
    text-align:left;
    font-size: 14px;
    text-align: center;
    position: center;
}
.table-item th {
    font-size: 14px;
    padding:1rem 0.5rem;
    font-weight: 500;
}

.table-item td {
    font-size: 13px;
    padding: 0.5rem;
    vertical-align:middle;

}

/*.table-item.small-first-col td:first-child,*/
/*.table-item.small-first-col th:first-child{*/
/*    flex-basis:20%;*/
/*    flex-grow:1;*/
/*}*/


/*table {counter-reset: no;}*/
/*table tr{counter-increment: no;}*/
/*table tr td:first-child:before{ content: counter(no)".";}*/

.table-item tbody tr:nth-child(2n){
    background-color: var(--home-color);
}

.body-half-screen{
    max-height: 80vh;
    min-height: 40vh;
}

.small-col{flex-basis:10%;}

.btn-item {
    display: inline-block;
    align-content: center;
    color: var(--body-color);
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: var(--smaller-font-size);
    border-radius: 0.5rem;
    transition: 0.3s;
    border: 0px;
}

.btn-item:hover {
    background-color: darkgreen;
}

.order-view {
    background-color:transparent;
    font-size: 20px;
    color: green;
    padding-top: 0px;
    margin-top: 0px;
}

button{
    background-color: transparent;
}

.row-img img {
    width: 40px;
    height: 40px;
}

.btn-row {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: 0.4rem 0.5rem;
    font-size: var(--smaller-font-size);
    border-radius: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
}

.fileds {
    width: 90%;
    margin-left: 0.5rem;
    height: 38px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--title-color);
    padding: 0.5rem;
    font-size: var(--small-font-size);
    background: var(--input-background-color);
    text-transform: none;
    border-radius: 0.5rem;
    border: 0px solid;
}

.image-box{
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    width: 49px;
    height: 49px;
}

.ipdateImage{
    border: 0px solid;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cfcfcf;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
}

input:checked + .slider {
    background-color: #2ab934;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(68px);
    -ms-transform: translateX(68px);
    transform: translateX(68px);
}

.on{
    display: none;
    color: white;
}

.off{
    color: red;
}

.on,.off
{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

.update-content {
    display: flex;
}

.button-item-update:hover {
    background-color: darkgreen;
}
.button-item-update {
    align-items: flex-end;
    height: 50px;
    width: 200px;
    background-color: var(--first-color);
    color: var(--body-color);
    border: 0px solid;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 2rem;
    float: right;
}

.input-space {
    width: 4rem;
}

#itemUpdate-shop {
    grid-auto-rows: 100px;
}

.input-text{
    font-size: 10px;
}

.lable-unit{
    font-size: 11px;
    margin-left :2.5rem ;
}