<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Stylesheets-->
    <link rel="stylesheet" href="../../../css/template.css" />
    <link rel="stylesheet" href="../../../css/dashboard.css" />
    <link rel="stylesheet" href="../../../css/all.css" />
    <link rel="stylesheet" href="../../../css/fonts.css" />
    <!--Javascript-->
    <script src="../../../js/template.js"></script>
    <script src="../../../js/jquery.min.js"></script>
  </head>
  <body>
      <div class="sidebar collapsed">
        <a class="menu-item">
            <span id="menu-icon" class=""><i class="fas fa-bars"></i></span>
            <span id="menu-text" class="menu-expand display-none">Menu</span>
        </a>
      </div>
      <div class="main-content">

      </div>
  </body>
</html>
