<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Stylesheets-->
  <link rel="stylesheet" href="../../../css/template.css" />
  <link rel="stylesheet" href="../../../css/dashboard.css" />
  <link rel="stylesheet" href="../../../css/all.css" />
  <link rel="stylesheet" href="../../../css/fonts.css" />
  <link rel="stylesheet" href="../../../css/staff-dashboard.css">
  <!--Javascript-->
  <script src="../../../js/jquery.min.js"></script>
  <script src="../../../js/template.js"></script>
  <script src="../../../js/dashboard.js"></script>

</head>

<body>
  <div class="sidebar collapsed">
    <a id="menu" class="menu-item menu-item-menu">
      <span id="menu-icon" class="menu-icon"><i class="fas fa-bars"></i></span>
      <span id="" class="menu-text menu-expand display-none">Menu</span>
    </a>
    <a id="" class="menu-item" href="#">
      <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
      <span id="" class="menu-text menu-expand display-none">Trips</span>
      <span id="" class="menu-expand-icon display-none"><i class="fas fa-caret-right fa-menu-expand-icon"></i></span>
    </a>
    <div class="menu-dropdown-container display-none">
      <a id="" class="menu-item menu-item-child" href="#">
        <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
        <span id="" class="menu-text menu-expand display-none">Pending</span>
      </a>
      <a id="" class="menu-item menu-item-child" href="#">
        <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
        <span id="" class="menu-text menu-expand display-none">Delivered</span>
      </a>
    </div>
    <a id="" class="menu-item" href="#">
      <span id="" class="menu-icon"><i class="fas fa-cash-register"></i></span>
      <span id="" class="menu-text menu-expand display-none">Riders</span>
    </a>
    <a id="menu" class="menu-item menu-item-logout">
      <span id="" class="menu-icon"><i class="fas fa-power-off"></i></span>
      <span id="" class="menu-text menu-expand display-none">Logout</span>
    </a>
  </div>
  <div class="main-content">
    <nav>
      <h1 class="main-header">Delivery Dashboard</h1>
    </nav>

    <div class="">
      <h3>Pending Orders</h3>
      <table class="table thead-green table-hover">
        <tr>
          <th>OrderID</th>
          <th>CustomerID</th>
          <th>Address</th>
          <th>Rider Name</th>
          <th>Status</th>
          <th>Shops</th>
          <th>Total Price</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>3</td>
          <td>12</td>
          <td>132/4,Galahitiyawa Road,Naththandiya,Kandy</td>
          <td>Nimal</td>
          <td>Pending</td>
          <td>Senevirathne Stores, Super Store, Nuwinda Vegetables</td>
          <td>Rs.1300</td>
          <td><button type="button" class="btn btn-primary btn-icon-only"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-red btn-icon-only"><i class="far fa-trash-alt"></i></button>
            <button type="button" class="btn btn-yellow btn-icon-only"><i class="far fa-eye"></i></button></td>
        </tr>
        <tr>
          <td>1</td>
          <td>13</td>
          <td>132/4,Galahitiyawa Road,Naththandiya,Kandy</td>
          <td>Kamal</td>
          <td>Pending</td>
          <td>Senevirathne Stores, Super Store, Nuwinda Vegetables</td>
          <td>Rs.1300</td>
          <td><button type="button" class="btn btn-primary btn-icon-only"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-red btn-icon-only"><i class="far fa-trash-alt"></i></button>
            <button type="button" class="btn btn-yellow btn-icon-only"><i class="far fa-eye"></i></button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>12</td>
          <td>132/4,Galahitiyawa Road,Naththandiya,Kandy</td>
          <td>Nimal</td>
          <td>Pending</td>
          <td>Senevirathne Stores, Super Store, Nuwinda Vegetables</td>
          <td>Rs.1300</td>
          <td><button type="button" class="btn btn-primary btn-icon-only"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-red btn-icon-only"><i class="far fa-trash-alt"></i></button>
            <button type="button" class="btn btn-yellow btn-icon-only"><i class="far fa-eye"></i></button></td>
        </tr>
      </table>
    </div>

  </div>
</body>

</html>