<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">
  <!--Stylesheets-->
  <link rel="stylesheet" href="../../../css/template.css" />
  <link rel="stylesheet" href="../../../css/dashboard.css" />
  <link rel="stylesheet" href="../../../css/all.css" />
  <link rel="stylesheet" href="../../../css/fonts.css" />
  <link rel="stylesheet" href="../../../css/staff-dashboard.css">
  <!--Javascript-->
  <script src="../../../js/jquery.min.js"></script>
  <script src="../../../js/template.js"></script>
  <script src="../../../js/dashboard.js"></script>

</head>

<body>
  <div class="sidebar collapsed">
    <a id="menu" class="menu-item menu-item-menu">
      <span id="menu-icon" class="menu-icon"><i class="fas fa-bars"></i></span>
      <span id="" class="menu-text menu-expand display-none">Menu</span>
    </a>
    <a id="" class="menu-item" href="#">
      <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
      <span id="" class="menu-text menu-expand display-none">Trips</span>
      <span id="" class="menu-expand-icon display-none"><i class="fas fa-caret-right fa-menu-expand-icon"></i></span>
    </a>
    <div class="menu-dropdown-container display-none">
      <a id="" class="menu-item menu-item-child" href="#">
        <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
        <span id="" class="menu-text menu-expand display-none">Pending</span>
      </a>
      <a id="" class="menu-item menu-item-child" href="#">
        <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
        <span id="" class="menu-text menu-expand display-none">Delivered</span>
      </a>
    </div>
    <a id="" class="menu-item" href="#">
      <span id="" class="menu-icon"><i class="fas fa-cash-register"></i></span>
      <span id="" class="menu-text menu-expand display-none">Riders</span>
      <span id="" class="menu-expand-icon display-none"><i class="fas fa-caret-right fa-menu-expand-icon"></i></span>
    </a>
    <div class="menu-dropdown-container display-none">
      <a id="" class="menu-item menu-item-child" href="#">
        <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
        <span id="" class="menu-text menu-expand display-none">Add Rider</span>
      </a>
      <a id="" class="menu-item menu-item-child" href="#">
        <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
        <span id="" class="menu-text menu-expand display-none">View Riders</span>
      </a>
    </div>
    <a id="menu" class="menu-item menu-item-logout">
      <span id="" class="menu-icon"><i class="fas fa-power-off"></i></span>
      <span id="" class="menu-text menu-expand display-none">Logout</span>
    </a>
  </div>
  <div class="main-content">
    <nav>
      <h1 class="main-header">Dashboard</h1>
    </nav>
    <div class="">
      <h3>Add Rider</h3>
      <div class="frm">
        <form action="" method="POST">
          <div class="display-grid delivery-view">
            <div class="delivery-view-details">
              <div><label>RiderID:</label><input type=text name="" value="12" style="" class=""></div>
              <div><label>Name:</label><input type=text name="" value="Nimal" style="" class=""></div>
              <div><label>NIC:</label><input type=text name="" value="980654875V" style="" class=""></div>
              <div><label>Email:</label><input type=text name="" value="nimal@gmail.com" style="" class=""></div>
              <div><label>Contact Number:</label><input type=text name="" value="0715487558" style="" class=""></div>
            </div >
            <div class="delivey-view-profile-pic">
            <div><label>Profile Picture:</label><img src='.././../../img/placeholder-150.png'><input type=text name="" value="image.png" style="" class=""></div>
          </div>
          <div><button type="button" type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
          </div>
      </div>
      </form>

    </div>
</body>

</html>