<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Stylesheets-->
  <link rel="stylesheet" href="../../../css/template.css" />
  <link rel="stylesheet" href="../../../css/dashboard.css" />
  <link rel="stylesheet" href="../../../css/all.css" />
  <link rel="stylesheet" href="../../../css/fonts.css" />
  <link rel="stylesheet" href="../../../css/staff-dashboard.css">
  <!--Javascript-->
  <script src="../../../js/jquery.min.js"></script>
  <script src="../../../js/template.js"></script>
  <script src="../../../js/dashboard.js"></script>

</head>

<body>
  <div class="sidebar collapsed">
    <a id="menu" class="menu-item menu-item-menu">
      <span id="menu-icon" class="menu-icon"><i class="fas fa-bars"></i></span>
      <span id="" class="menu-text menu-expand display-none">Menu</span>
    </a>
    <a id="" class="menu-item" href="#">
      <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
      <span id="" class="menu-text menu-expand display-none">Trips</span>
    </a>
    <a id="" class="menu-item" href="#">
      <span id="" class="menu-icon"><i class="fas fa-cash-register"></i></span>
      <span id="" class="menu-text menu-expand display-none">Riders</span>
    </a>
    <a id="menu" class="menu-item menu-item-logout">
      <span id="" class="menu-icon"><i class="fas fa-power-off"></i></span>
      <span id="" class="menu-text menu-expand display-none">Logout</span>
    </a>
  </div>
  <div class="main-content">
    <nav>
      <h1 class="main-header">{Shop Name}/Dashboard</h1>
    </nav>
    <div class="insights">
      <div class="sub-insights insights-left">
        <p>New Signups Today:</p>
        <p class="sub-insights-big"><strong>200</strong></p>
      </div>
      <div class="sub-insights insights-right">
        <p>Total Sales:</p>
        <p class="sub-insights-big">Rs:<strong>102350</strong></p>
      </div>
    </div>

  </div>
</body>

</html>