<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/fonts.css">

  <title>Footer</title>
</head>
<body>
  <footer class="footer section bd-container">
    <div class="footer__container bd-grid">
      <div class="footer__content">
        <a href="#" class="footer__logo">Grocery Galleria</a>
        <span class="footer__description">Shop platform</span>
        <div>
          <a href="#" class="footer__icons"><i class="fas fa-phone-alt"></i></a>
          <a href="#" class="footer__icons"><i class="far fa-envelope"></i></a>
          <a href="#" class="footer__icons"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="footer__content">
          <h3 class="footer__title">Address</h3>
          <ul>
            <li>No:56/B,</li>
            <li>Union Avenue,</li>
            <li>Colombo,</li>
            <li>Sri Lanka.</li>
            <li>grocerygalleria33@gmail.com</li>
          </ul>
      </div>
      <!-- <div class="footer__content">
          <h3 class="footer__title">Services</h3>
          <ul>
            <li><a href="#" class="footer__link">Our Shops</a></li>
            <li><a href="#" class="footer__link">Delivery</a></li>
            <li><a href="#" class="footer__link">Staff</a></li>
            <li><a href="#" class="footer__link">Hotline</a></li>
          </ul>
      </div> -->
      <div class="footer__content">
          <h3 class="footer__title">Information</h3>
          <ul>
            <li><a href="#" class="footer__link">FAQ</a></li>
            <li><a href="#" class="footer__link">Contact us</a></li>
            <li><a href="#" class="footer__link">Privacy policy</a></li>
            <li><a href="#" class="footer__link">Terms of services</a></li>
          </ul>
      </div>
      <div class="footer__content">
        <h3 class="footer__title">Services</h3>
        <div >
          <span>
            <img class="features__logo" src="/views/frontPage/img/gurantee.png" alt="">
          </span>
          <span>
            <img class="features__logo" src="/views/frontPage/img/cash.png" alt="">
          </span>
          <span>
            <img class="features__logo" src="/views/frontPage/img/delivery.png" alt="">
          </span>
        </div>
      </div>
    </div>
    <p class="footer__copy">&#169; 2021 Grocery Galleria. All right reserved.</p>
  </footer>
</body>
</html>