<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Template</title>
  <!--Stylesheets-->
  <link rel="stylesheet" href="../../../css/rider-mobile.css" />
  <link rel="stylesheet" href="../../../css/template.css" />
  <link rel="stylesheet" href="../../../css/all.css" />
  <link rel="stylesheet" href="../../../css/fonts.css" />

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  <!--Javascript-->
  <script src="../../../js/jquery.min.js"></script>
  <script src="../../../js/rider-mobile.js"></script>
</head>

<body>

  <div class="main-content">
    <div>
      <h2 class="header margin-bottom">Order Details</h2>
    </div>
    <div class="order-view box-shadow margin-bottom">
      <table>
        <tr>
          <th>OrderID</th>
          <th>Destination</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>2</td>
          <td>222,Address Eka</td>
          <td>Rs.3222.00</td>
          <td><button type="button" class="btn btn-primary btn-icon-only order-view-button" data-href="/order/2"><i
                class="far fa-eye"></i></button></td>
        </tr>
      </table>
    </div>

    <div class="order-view-map box-shadow margin-bottom">
      <div id="map"></div>
      <a href="#"><button class="btn btn-primary">Open in Google Maps</button></a>
    </div>

    <div class="order-view-customer box-shadow margin-bottom">
      <h4>Destination</h4>
      <div class="order-view-customer-details">
        <p><strong>Name:</strong>Kasun Rajakaruna</p>
        <p><strong>Address:</strong>Kasun Rajakaruna</p>
        <p><strong>Phone:</strong><a href="tel:0223311324">0223311324<i class="fas fa-phone-alt"></i></a></p>
      </div>
      <label></label>

    </div>
    <div class="items-divider box-shadow margin-bottom">
      <h4>Items</h4>
    </div>
    <div class="order-view-shop box-shadow margin-bottom">
      <h3 class="header">Shop 1</h3>
      <div class="shop-details box-shadow">
        <p><strong>Name:</strong>Kasun Rajakaruna</p>
        <p><strong>Address:</strong>Kasun Rajakaruna</p>
        <p><strong>Phone:</strong><a href="tel:0223311324">0223311324<i class="fas fa-phone-alt"></i></a></p>
      </div>
      <div>
        <table class="box-shadow margin-bottom">
          <tr>
            <th>Item Name</th>
            <th>Brand</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>Potato</td>
            <td>None</td>
            <td>120g</td>
            <td>Rs.1440</td>
          </tr>
          <tr>
            <td>Potato</td>
            <td>None</td>
            <td>120g</td>
            <td>Rs.1440</td>
          </tr>
          <tr>
            <td>Potato</td>
            <td>None</td>
            <td>120g</td>
            <td>Rs.1440</td>
          </tr>
          <tr>
            <td>Potato</td>
            <td>None</td>
            <td>120g</td>
            <td>Rs.1440</td>
          </tr>
          <tr>
            <td>Potato</td>
            <td>None</td>
            <td>120g</td>
            <td>Rs.1440</td>
          </tr>
        </table>
        <div class="shop-summary margin-bottom">
          <div class="summary-box box-shadow">
            <div class="summary-label">Item Count:</div>
            <div class="summary-content">21</div>
          </div>
          <div class="summary-box box-shadow">
            <div class="summary-label">Total Price:</div>
            <div class="summary-content"><small>Rs.</small>2338.00</div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-summary">
      <button class="btn btn-primary btn-lg margin-bottom">Mark as Completed</button>
      <button class="btn btn-secondary btn-lg margin-bottom">Submit a Issue</button>
    </div>
  </div>

  <!--mobile navigation-->
  <div class="navigation-container">
    <!--mobile navigation icons-->
    <div class="navigation-icons">
      <a class="navigation-item navigation-toggle" href="#menu-mobile"><i class="fas fa-bars"></i><span>Menu</span></a>
      <a class="navigation-item" href="./rider/orders"><i class="fas fa-truck "></i><span>Orders</span></a>
      <a class="navigation-item" href="./rider/profile"><i class="fas fa-user-circle"></i><span>Profile</span></a>
    </div>
    <!--mobile navigation sidebars-->
    <div class="navigation-sidebar" id="menu-mobile">
      <div class="navigation-header">
        <h3>Menu</h3>
      </div>
      <div class="navigation-content">
        <ul class="menu-mobile">
          <li class="menu-item">
            <a href="index-2.html">Home</a><span class=""></span>
          </li>
          <li class="menu-item">
            <a href="index-2.html">Past Orders</a><span class=""></span>
          </li>
          <li class="menu-item">
            <a href="./logout">Logout</a><span class=""></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="navigation-back-overlay"></div>
  </div>
</body>

</html>