<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Stylesheets-->
  <link rel="stylesheet" href="../../../css/template.css" />
  <link rel="stylesheet" href="../../../css/dashboard.css" />
  <link rel="stylesheet" href="../../../css/all.css" />
  <link rel="stylesheet" href="../../../css/fonts.css" />
  <link rel="stylesheet" href="../../../css/shop-dashboard.css" />

  <!--Javascript-->
  <script src="../../../js/jquery.min.js"></script>
  <script src="../../../js/template.js"></script>
  <script src="../../../js/dashboard.js"></script>

</head>

<body>
  <div class="sidebar collapsed">
    <a id="menu" class="menu-item menu-item-menu">
      <span id="menu-icon" class="menu-icon"><i class="fas fa-bars"></i></span>
      <span id="" class="menu-text menu-expand display-none">Menu</span>
    </a>
    <a id="" class="menu-item" href="#">
      <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
      <span id="" class="menu-text menu-expand display-none">Items</span>
    </a>
    <a id="" class="menu-item" href="#">
      <span id="" class="menu-icon"><i class="fas fa-cash-register"></i></span>
      <span id="" class="menu-text menu-expand display-none">Orders</span>
      <span id="" class="menu-expand-icon display-none"><i class="fas fa-caret-right fa-menu-expand-icon"></i></span>
    </a>
    <div class="menu-dropdown-container display-none">
      <a id="" class="menu-item menu-item-child" href="#">
        <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
        <span id="" class="menu-text menu-expand display-none">Pending</span>
      </a>
      <a id="" class="menu-item menu-item-child" href="#">
        <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
        <span id="" class="menu-text menu-expand display-none">Done</span>
      </a>
    </div>
    <a id="menu" class="menu-item menu-item-logout">
      <span id="" class="menu-icon"><i class="fas fa-power-off"></i></span>
      <span id="" class="menu-text menu-expand display-none">Logout</span>
    </a>
  </div>

  <div class="main-content">
    <div class="page-header">
      <span class="main-header">Dashboard</span>
      <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        </ul>
    </div>
    
    <div>
      <table class="table">
        <b><thead>
          <tr>
          <td class="text-right">Order ID</td>
          <td>Customer</td>
          <td>Status</td>
          <td>Date</td>
          <td class="text-right">Total</td>
          <td class="text-right">View</td>
          </tr>
          </thead></b>
          <tbody>
            <tr>
            <td class="text-right">13438</td>
            <td>Yohan De Silva</td>
            <td>New</td>
            <td>02/09/2021</td>
            <td class="text-right">Rs.7500</td>
            <td class="text-right"><a href="#" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="far fa-eye"></i></a></td>
            </tr>
            <tr>
            <td class="text-right">13437</td>
            <td>SSD Sanduni sandeepa</td>
            <td>Delivered</td>
            <td>02/09/2021</td>
            <td class="text-right">Rs.1075</td>
            <td class="text-right"><a href="#" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="far fa-eye"></i></a></td>
            </tr>
            <tr>
            <td class="text-right">13436</td>
            <td>TM Wathsala Vishwajith</td>
            <td>Delivered</td>
            <td>02/09/2021</td>
            <td class="text-right">Rs.3443</td>
            <td class="text-right"><a href="#" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="far fa-eye"></i></a></td>
            </tr>
            <tr>
            <td class="text-right">13435</td>
            <td>DT Sirimanna</td>
            <td>New</td>
            <td>02/09/2021</td>
            <td class="text-right">Rs.845</td>
            <td class="text-right"><a href="#" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="far fa-eye"></i></a></td>
            </tr>
            <tr>
            <td class="text-right">13434</td>
            <td>W Lahiru Sampath</td>
            <td>New</td>
            <td>02/09/2021</td>
            <td class="text-right">Rs.2460</td>
            <td class="text-right"><a href="#" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="far fa-eye"></i></a></td>
            </tr>
            </tbody>
      </table>
    </div>   
  </div>
</body>

</html>