<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Stylesheets-->
  <link rel="stylesheet" href="../../../css/template.css" />
  <link rel="stylesheet" href="../../../css/dashboard.css" />
  <link rel="stylesheet" href="../../../css/all.css" />
  <link rel="stylesheet" href="../../../css/fonts.css" />
  <link rel="stylesheet" href="../../../css/shop-dashboard.css" />

  <!--Javascript-->
  <script src="../../../js/jquery.min.js"></script>
  <script src="../../../js/template.js"></script>
  <script src="../../../js/dashboard.js"></script>

</head>

<body>
  <div class="sidebar collapsed">
    <a id="menu" class="menu-item menu-item-menu">
      <span id="menu-icon" class="menu-icon"><i class="fas fa-bars"></i></span>
      <span id="" class="menu-text menu-expand display-none">Menu</span>
    </a>
    <a id="" class="menu-item" href="#">
      <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
      <span id="" class="menu-text menu-expand display-none">Items</span>
    </a>
    <a id="" class="menu-item" href="#">
      <span id="" class="menu-icon"><i class="fas fa-cash-register"></i></span>
      <span id="" class="menu-text menu-expand display-none">Orders</span>
      <span id="" class="menu-expand-icon display-none"><i class="fas fa-caret-right fa-menu-expand-icon"></i></span>
    </a>
    <div class="menu-dropdown-container display-none">
      <a id="" class="menu-item menu-item-child" href="#">
        <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
        <span id="" class="menu-text menu-expand display-none">Pending</span>
      </a>
      <a id="" class="menu-item menu-item-child" href="#">
        <span id="" class="menu-icon"><i class="fas fa-shopping-basket"></i></span>
        <span id="" class="menu-text menu-expand display-none">Done</span>
      </a>
    </div>
    <a id="menu" class="menu-item menu-item-logout">
      <span id="" class="menu-icon"><i class="fas fa-power-off"></i></span>
      <span id="" class="menu-text menu-expand display-none">Logout</span>
    </a>
  </div>

  <div class="main-content">
    <div class="page-header">
      <span class="main-header">Dashboard</span>
      <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
      </ul>
    </div>

    <div class="row order-details">
      <div>
        <h3>Order ID:{ID}</h3>
      </div>
      <div>
        <h3>Rider Details:</h3>
        <p>RiderID:10</p>
        <p>Nimal Thirimanna</p>
      </div>

    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-left"> Item ID </td>
            <td class="text-center">Image</td>
            <td class="text-left"> Product Name </td>
            <td class="text-left"> Category</td>
            <td class="text-right">Unit Price</td>
            <td class="text-left">Unit Weight </td>
            <td class="text-right">Quantity </td>
            <td class="text-left"> Price </td>
          </tr>
        </thead>
        <tbody>
          <tr>

            </td>
            <td class="text-left">Veg044</td>
            <td class="text-center"> <img src="https://essstr.blob.core.windows.net/essimg/350x/Small/Pic914006.jpg"
                alt="carrot" class="img-thumbnail"> </td>
            <td class="text-left">Big Onion</td>
            <td class="text-left">Onion</td>
            <td class="text-right"> <span>RS.50.00</span>
            </td>
            <td class="text-left">100 g</td>
            <td class="text-right"> <span class="label label-success">1Kg</span> </td>
            <td class="text-left">Rs:502.00</td>
          </tr>
          <tr>

            </td>
            <td class="text-left">Veg110</td>
            <td class="text-center"> <img src="https://essstr.blob.core.windows.net/essimg/350x/Small/Pic914039.jpg"
                alt="carrot" class="img-thumbnail"> </td>
            <td class="text-left">Pumpkin</td>
            <td class="text-left">Low-Contry</td>
            <td class="text-right"> <span>RS.50.00</span>
            </td>
            <td class="text-left">100 g</td>
            <td class="text-right"> <span class="label label-success">500g</span> </td>
            <td class="text-left">Rs:200.00</td>
          </tr>
          <tr>
            </td>
            <td class="text-left">Veg002</td>
            <td class="text-center"> <img src="https://essstr.blob.core.windows.net/essimg/350x/Small/Pic915013.jpg"
                alt="carrot" class="img-thumbnail"> </td>
            <td class="text-left">Potato</td>
            <td class="text-left">Up-Country</td>
            <td class="text-right"> <span>RS.100.00</span>
            </td>
            <td class="text-left">100 g</td>
            <td class="text-right"> <span class="label label-success">1Kg</span> </td>
            <td class="text-left">Rs:342.00</td>
          </tr>

          <tr>
            </td>
            <td class="text-left">Veg010</td>
            <td class="text-center"> <img src="https://essstr.blob.core.windows.net/essimg/350x/Small/Pic915005.jpg"
                alt="carrot" class="img-thumbnail"> </td>
            <td class="text-left">Cabbage</td>
            <td class="text-left">Up-Country</td>
            <td class="text-right"> <span>RS.60.00</span>
            </td>
            <td class="text-left">100 g</td>
            <td class="text-right"> <span class="label label-success">1Kg</span> </td>
            <td class="text-left">Rs:512.00</td>
          </tr>
          <tr>
            </td>
            <td class="text-left">Veg001</td>
            <td class="text-center"> <img src="https://essstr.blob.core.windows.net/essimg/350x/Small/Pic915007.jpg"
                alt="carrot" class="img-thumbnail"> </td>
            <td class="text-left">Carrot</td>
            <td class="text-left">Up-Country</td>
            <td class="text-right"> <span>RS.30.00</span>
            </td>
            <td class="text-left">100 g</td>
            <td class="text-right"> <span class="label label-success">600g</span> </td>
            <td class="text-left">Rs:322.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>