<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Template</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="../../../css/template.css" />
    <link rel="stylesheet" href="../../../css/all.css" />
    <link rel="stylesheet" href="../../../css/fonts.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!--Javascript-->
    
    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/template.js"></script>
  </head>

  <body>
    <!-- Content here -->

    <!--mobile navigation-->
    <div class="navigation-container">
       <!--mobile navigation icons-->
      <div class="navigation-icons">
        <a class="navigation-item navigation-toggle" href="#menu-mobile"><i class="fas fa-bars"></i><span> Menu</span></a>
        <a class="navigation-item navigation-toggle" href="#categories-mobile"><i class="fas fa-list"></i><span> Categories</span></a>
        <a class="navigation-item navigation-toggle" href="#search-mobile"><i class="fas fa-search"></i><span> Search</span></a>
        <a class="navigation-item navigation-toggle" href="#cart-mobile"><i class="fas fa-shopping-cart"></i><span> Cart</span></a>
      </div>
       <!--mobile navigation sidebars-->
       <div class="navigation-sidebar" id="menu-mobile">
        <div class="navigation-header">
          <h3>Menu</h3>
        </div>
        <div class="navigation-content">
          <ul class="menu-mobile">
            <li class="menu-item">
              <a href="index-2.html">Home</a><span class=""></span>
            </li>
            <li class="menu-item">
              <a href="index-2.html">About Us</a><span class=""></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="navigation-sidebar" id="categories-mobile">
        <div class="navigation-header">
          <h3>Categories</h3>
        </div>
        <div class="navigation-content">
          <ul class="menu-mobile">
            <li class="menu-item">
              <a href="index-2.html">Vegetables</a><span class=""></span>
            </li>
            <li class="menu-item">
              <a href="index-2.html">Groceries</a><span class=""></span>
            </li>
            <li class="menu-item">
              <a href="index-2.html">Meat & Fish</a><span class=""></span>
            </li>
            <li class="menu-item">
              <a href="index-2.html">Others</a><span class=""></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="navigation-sidebar" id="search-mobile">
        <div class="navigation-header navigation-search">
          <form> 
            <div class="navigation-search-group">
              <input class="" type="" placeholder="Search something...">
              <button><i class="fas fa-search"></i></button>
            </div>
          </form>
        </div>
        <div class="navigation-content">
          
        </div>
      </div>
      <div class="navigation-sidebar" id="cart-mobile">
        <div class="navigation-header">
          <h3>Cart</h3>
        </div>
        <div class="navigation-content">
          <div class="cart-mobile-content">
            <div class="cart-mobile-content-item">
              <div class="cart-mobile-item-image">
                <a href="#"><img src="../../../img/placeholder-350.png"></a>
              </div>
              <div class="cart-mobile-item-description">
                <a class="cart-mobile-item-remove" href="#"><i class="fas fa-times"></i></a>
                <a href="#">Wambatu</a>
                <p>
                  Sold By:<a href="#">Wataraka Stores</a>
                </p>
                <small>500</small><small>g</small><small> x Rs.</small><small>550</small><small>/</small><small>1Kg</small>
                <div class="cart-mobile-item-price">
                  <strong>Rs.</strong><p>255.00</p>
                </div>
              </div>
            </div>
          </div>
          <div class="cart-mobile-footer">

          </div>
        </div>
      </div>

      <div class="navigation-back-overlay"></div>
    </div>
  </body>
</html>
