<head>
    <title>Template</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="../../css/template.css">
    <link rel="stylesheet" href="../../css/all.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!--Javascript-->
    <script src="../../js/template.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <meta charset="UTF-8">
</head>