<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Template</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="../../../css/template.css" />
    <link rel="stylesheet" href="../../../css/all.css" />
    <link rel="stylesheet" href="../../../css/fonts.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!--Javascript-->
    
    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/template.js"></script>
  </head>

  <body>
    <!-- Content here -->

    <!--mobile navigation-->
    <div class="navigation-container">
       <!--mobile navigation icons-->
      <div class="navigation-icons">
        <a class="navigation-item navigation-toggle" href="#menu-mobile"><i class="fas fa-bars"></i><span> Menu</span></a>
        <a class="navigation-item navigation-toggle" href="#navigation-mobile"><i class="fas fa-list"></i><span> Categories</span></a>
        <a class="navigation-item navigation-toggle" href="#search-sidebar"><i class="fas fa-search"></i><span> Search</span></a>
        <a class="navigation-item navigation-toggle" href="#cart-mobile"><i class="fas fa-shopping-cart"></i><span> Cart</span></a>
      </div>
       <!--mobile navigation sidebars-->
      <div class="navigation-sidebar" id="menu-mobile">
        <div class="navigation-header">
          <h3>Menu</h3>
        </div>
        <div class="navigation-content">
          <ul class="menu-mobile">
            <li class="menu-item-has-children">
              <a href="index-2.html">Home</a><span class="sub-toggle"></span>
              <ul class="sub-menu">
                <li><a href="index-2.html">Marketplace Full Width</a></li>
                <li><a href="homepage-2.html">Home Auto Parts</a></li>
                <li><a href="homepage-10.html">Home Technology</a></li>
                <li><a href="homepage-9.html">Home Organic</a></li>
                <li><a href="homepage-3.html">Home Marketplace V1</a></li>
                <li><a href="homepage-4.html">Home Marketplace V2</a></li>
                <li><a href="homepage-5.html">Home Marketplace V3</a></li>
                <li><a href="homepage-6.html">Home Marketplace V4</a></li>
                <li><a href="homepage-7.html">Home Electronic</a></li>
                <li><a href="homepage-8.html">Home Furniture</a></li>
                <li><a href="homepage-kids.html">Home Kids</a></li>
                <li>
                  <a href="homepage-photo-and-video.html">Home photo and picture</a>
                </li>
                <li><a href="home-medical.html">Home Medical</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children has-mega-menu"></li>
          </ul>
        </div>
      </div>

      <div class="navigation-back-overlay"></div>
    </div>
  </body>
</html>
