<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="../../../css/template.css" />
    <link rel="stylesheet" href="../../../css/all.css" />
    <link rel="stylesheet" href="../../../css/fonts.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!--Javascript-->
    <script src="../../js/template.js"></script>
    <script src="../../js/jquery.min.js"></script>

    <nav>
      <div class="header-top"></div>
      <div class="header-container">
        <div class="header-container-inside">
          <div class="header-logo">
            <a href=""
              ><img class="header-img" src="../../../img/logo_white-min.png"
            /></a>
          </div>
          <div class="search-container">
            <form class="frm" action="" method="get">
                <div class="form-group--icon"><i class="fas fa-chevron-down"></i>
                    <select class="">
                        <option value="1">All</option>
                        <option value="1">Bags</option>
                        <option value="1">Shoes</option>
                        <option value="1">Men</option>
                        <option value="1">Women</option>
                        <option value="1">Sunglasses</option>
                    </select>
                </div>
                <input class="" type="text" placeholder="I'm shopping for...">
                <button>Search</button>
            </form>
          </div>
          <div class="header-buttons">
            <div class="header-cart-icon">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="header-user-icon">
              <i class="far fa-user-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </head>
</html>
