<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/views/ShoppingCart/css/CartStyle.css">
  <link rel="stylesheet" href="/css/all.css">
</head>
<body>
  <header>
    <div class="header-1">
      <a href="#" class="logo"><img class="logo-img" src="/img/logo2.png" alt="" srcset=""></a>
      <a href="" class="back"><i class="fas fa-step-backward"></i></a>
      </div>
  </header>
  <!-- Cart section start -->
<section class="cart" id="cart">
  <h1 class="subheading"><i class="fas fa-leaf"></i>Shop name</h1>
  <div class="container">
    <div class="container-item">
      <div class="cart-header">
        <ul>
          <li>Product</li>
          <li>Name</li>
          <li>Price(Rs)</li>
          <li>Qty</li>
          <li>Total</li>
          <li>Action</li>
        </ul>
      </div>
      <div class="cart-items">
        <div class="item">
          <div class="item-img"><img src="/views/shop/img/Pic915013.jpg" alt=""></div>
          <div class="productname">Potato</div>
          <div class="price">67.00</div>
          <div class="quantity">
            <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <div class="total">Rs. 98</div>
          <div>
            <a href="#" class=""><i class="fas fa-times"></i></a>
          </div>
        </div>
        <div class="item">
          <div class="item-img"><img src="/views/shop/img/Pic915013.jpg" alt=""></div>
          <div class="productname">Potato</div>
          <div class="price">67.00</div>
          <div class="quantity">
            <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
           </div>
          <div class="total">Rs. 98</div>
          <div>
            <a href="#" class=""><i class="fas fa-times"></i></a>
          </div>
          </div>
        <div class="item">
          <div class="item-img"><img src="/views/shop/img/Pic915013.jpg" alt=""></div>
          <div class="productname">Potato</div>
          <div class="price">67.00</div>
          <div class="quantity">
            <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
         </div>
         <div class="total">Rs. 98</div>
         <div>
          <a href="#" class=""><i class="fas fa-times"></i></a>
        </div>
        </div>
      </div>
    </div>
    <div class="container-payment">
      <div class="details">Item count: <span>12</span></div>
      <div class="details">Subtotal: <span>Rs 1250</span></div>
      <div class="details">No of Shops: <span>4</span></div>
      <div class="details">Delivery Charges: <span>Rs.150</span></div>
      <div class="details total">Total: <span>Rs 1600</span></div>
      <button class="btn checkout">Proceed to checkout</button>
    </div>
  </div>
</section>
  <!-- Cart section ends -->
<!-- footer section starts  -->

<section class="footer" id="contact">

  <div class="box-container">

      <div class="box">
        <a href="#" class="logo"><img class="logo-img" src="/img/logo2.png" alt="" srcset=""></a>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam culpa sit enim nesciunt rerum laborum illum quam error ut alias!</p>
          <div class="communication">
              <a href="#" class="btn fas fa-phone-alt"></a>
              <a href="#" class="btn far fa-envelope"></a>
              <a href="#" class="btn fab fa-whatsapp"></a>
              <a href="#" class="btn fab fa-telegram-plane"></a>
          </div>
      </div>
      
      <div class="box">
          <h3>Address</h3>
          <ul>
            <li class="element">No:56/B,</li>
            <li class="element">Union Avenue,</li>
            <li class="element">Colombo,</li>
            <li class="element">Sri Lanka.</li>
            <li class="element">grocerygalleria33@gmail.com</li>
          </ul>
      </div>

      <div class="box">
          <h3>quick links</h3>
          <div class="links">
              <a href="#home">home</a>
              <a href="#category">category</a>
              <a href="#shops">shops</a>
              <a href="#">FAQ</a>
              <a href="#contact">contact us</a>
          </div>
      </div>

      <div class="box">
          <h3>Services</h3>
          <div class="links">
              <span>
                <img class="features-logo" src="/img/gurantee.png" alt="">
              </span>
              <img class="features-logo" src="/img/cash.png" alt="">
              </span>
              <span>
                <img class="features-logo" src="/img/delivery.png" alt="">
              </span>
          </div>
      </div>
    </div>
    
    
    <p class="footer-copyright">&#169; 2021 Grocery Galleria. All right reserved.</p>
</section>
</body>
</html>