<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./Style.css">
  <title>Login</title>
</head>
<body>
  <header>
    <div class="header-1">
      <a href="#" class="logo"><img class="logo-img" src="../../img/logo2.png" alt="" srcset=""></a>
      <a href="" class="logout"><i class="fas fa-sign-out-alt"></i></a>
      </div>
  </header>
  <!-- <img class="wave" src="/img/wave.svg" alt=""> -->
  <div class="container">
    <div class="subcontainer">
      <img class="main-img" src="../../img/grocery3.png" alt="">
    </div>
    <div class="subcontainer">
      <img class="user" src="../../img/user.svg" alt="">
      <form action="">
        
        <h2>Welcome</h2>
        <div class="input-div one">
          <div class="icon">
            <i class="fas fa-user"></i>
          </div>
          <div>
            <h5>Username</h5>
            <input class="input" type="text" name="" id="">
          </div>
        </div>
        <div class="input-div two">
          <div class="icon">
            <i class="fas fa-lock"></i>
          </div>
          <div>
            <h5>Password</h5>
            <input class="input" type="password" name="" id="">
          </div>
        </div>
        <a href="#">Forgot Password</a>
        <input class="btn" type="submit" name="" id="" value="Login">
      </form>
    </div>
  </div>
  <p class="footer-copyright">&#169; 2021 Grocery Galleria. All right reserved.</p>
  <script type="text/javascript" src="Script.js"></script>
</body>
</html>