<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/all.css" />
    <link rel="stylesheet" href="./css/shop-order.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/dashoboardStyle.css" />
    <script src="./js/shop-order.js" defer></script>
    <title>Shop dashboard-orders</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar-logo">
        <img src="../../img/logo_only_color.png" alt="" />
        <img class="text" src="../../img/text_white-min.png" alt="" />
      </div>
      <ul class="nav-links">
        <li>
          <a href="">
            <i class="bx bx-grid-alt"></i>
            <span class="link-name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-box"></i>
            <span class="link-name">Products</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-list-ul"></i>
            <span class="link-name">Order list</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bxs-pie-chart-alt"></i>
            <span class="link-name">Analytics</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-data"></i>
            <span class="link-name">Stock</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-cog"></i>
            <span class="link-name">Settings</span>
          </a>
        </li>
        <li class="logout">
          <a href="">
            <i class="bx bx-log-out"></i>
            <span class="link-name">Log out</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Home section start -->

    <section class="home-section">
      <nav>
        <div class="sidebar-toggle">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
          <input type="search" id="" placeholder="Search.... " />
          <button class="bx bx-search search"></button>
        </div>
        <div class="profile-details">
          <i class="bx bx-user"></i>
          <span class="user-name">Dilshan98</span>
        </div>
      </nav>

      <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="content">
              <div class="box-topic">Total Orders</div>
              <div class="number">1276</div>
              <div class="indicator">
                <i class="bx bxs-up-arrow-square"></i>
                <span class="text">Up so far</span>
              </div>
            </div>
            <!-- <i class='bx bx-cart-alt cart'></i> -->
            <img
              src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/64/000000/external-delivery-box-shopping-and-ecommerce-itim2101-lineal-color-itim2101.png"
            />
          </div>
          <div class="box">
            <div class="content">
              <div class="box-topic">Total Revenue</div>
              <div class="number">1276</div>
              <div class="indicator">
                <i class="bx bxs-up-arrow-square"></i>
                <span class="text">Up so far</span>
              </div>
            </div>
            <img
              src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/64/000000/external-revenue-money-and-economy-itim2101-lineal-color-itim2101.png"
            />
          </div>
          <!-- <i class='bx bx-cart-alt cart'></i> -->

          <div class="box">
            <div class="content">
              <div class="box-topic">Total Profit</div>
              <div class="number">12,876</div>
              <div class="indicator">
                <i class="down bx bxs-down-arrow-square"></i>
                <span class="text">Down from today</span>
              </div>
            </div>
            <img
              src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/64/000000/external-financial-mobile-payment-itim2101-lineal-color-itim2101.png"
            />
          </div>
          <div class="box">
            <div class="content">
              <div class="box-topic">Total Orders</div>
              <div class="number">11,086</div>
              <div class="indicator">
                <i class="down bx bxs-down-arrow-square"></i>
                <span class="text">Down From Today</span>
              </div>
            </div>
            <img
              src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/64/000000/external-order-online-shopping-itim2101-lineal-color-itim2101.png"
            />
          </div>
        </div>

        <div class="core">
          <h1 class="heading"> <span>Orders</span></h1>
          <div class = "tabs">
            <ul class="order-tabs">
              <li data-tab-target="#new" class="active tab">New</li>
              <li data-tab-target="#completed" class="tab">Completed</li>
            </ul>

            <div class = "tab-content">
              <div id="new" data-tab-content class="active">
                <div class="container-items">
                  <div class="table-header">
                    <ul>
                      <li>Order Id</li>
                      <li>Rider Id</li>
                      <li>Date</li>
                      <li>Time</li>
                      <li>Total<br>(LKR)</li>
                      <li>View</li>
                      <li>Mark<br>as Completed</li>
                    </ul>
                  </div>
                  <div class="ongoing-items scroller">
                    <ul class="item">
                      <li class="order-id">
                       1230
                      </li>
                      <li class="rider-id">R00114</li>
                      <li class="order-date">27/09/2021</li>
                      <li class="order-time">08:00 AM</li>
                      <li class="order-total">2500.00</li>
                      <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                      <li class="item-ubutton">
                        <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                       1230
                      </li>
                      <li class="rider-id">R00114</li>
                      <li class="order-date">27/09/2021</li>
                      <li class="order-time">08:00 AM</li>
                      <li class="order-total">2500.00</li>
                      <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                      <li class="item-ubutton">
                        <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                       <li class="item-ubutton">
                         <button class="btn-item" type="submit"><span class = "order-collected"><i class='bx bx-check'></i></span></button>
                       </li>
                    </ul>
                  </div>
                </div>
              </div>  
              <div id="completed" data-tab-content class="active">
                <div class="container-items">
                  <div class="table-header">
                    <ul class="complete-order-table-header">
                      <li>Order Id</li>
                      <li>Rider Id</li>
                      <li>Date</li>
                      <li>Time</li>
                      <li>Total<br>(LKR)</li>
                      <li>View</li>
                    </ul>
                  </div>
                  <div class="ongoing-items scroller">
                    <ul class="item">
                      <li class="order-id">
                       1230
                      </li>
                      <li class="rider-id">R00114</li>
                      <li class="order-date">27/09/2021</li>
                      <li class="order-time">08:00 AM</li>
                      <li class="order-total">2500.00</li>
                      <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                       1230
                      </li>
                      <li class="rider-id">R00114</li>
                      <li class="order-date">27/09/2021</li>
                      <li class="order-time">08:00 AM</li>
                      <li class="order-total">2500.00</li>
                      <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                    <ul class="item">
                      <li class="order-id">
                        1230
                       </li>
                       <li class="rider-id">R00114</li>
                       <li class="order-date">27/09/2021</li>
                       <li class="order-time">08:00 AM</li>
                       <li class="order-total">2500.00</li>
                       <li class="ubutton">
                        <button class="btn-item" type="submit"><span class = "order-view"><i class='bx bx-show-alt'></i></span></button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Home section ends -->
    <script src="./js/dashboardScript.js"></script>
  </body>
</html>
