<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/all.css" />
    <!-- <link rel="stylesheet" href="./css/shop-order.css" /> -->
    <link rel="stylesheet" href="./css/order-details.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="../../views/Registration/css/registerStyle.css"> -->
    <link rel="stylesheet" href="./css/dashoboardStyle.css" />
    <title>Shop dashboard-orders-details</title>
  </head>
  <body>
    <header>
        <div class="header-1">
          <a href="#" class="logo"><img class="logo-img" src="../../img/logo2.png" alt="Grocery Galleria" srcset=""></a>
          <a href="" class="back"><i class="fas fa-step-backward"></i></a>
          </div>
      </header>
    <!-- Home section start -->

    <section class="section-home">
      

      <div class="home-content">
        <div class="overview-boxes " id = "order-box" >
          
          <div class="box">
            <div class="content">
              <div class="box-topic">Order ID</div>
              <div class="number">11034</div>
            </div>
            <img src="https://img.icons8.com/external-itim2101-flat-itim2101/64/000000/external-order-shopping-and-ecommerce-itim2101-flat-itim2101.png"/>
          </div>

          <div class="box">
            <div class="content">
              <div class="box-topic">Total(LKR)</div>
              <div class="number">2500.00</div>
            </div> 
            <img src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-cash-gambling-justicon-flat-justicon.png"/>
          </div>
        </div>

        <div class="core">
          <div class="container-items">

            <div class="overview-boxes " id = "order-box" >
          
              <div class="box-status">
                <div class="content">
                  <div class="box-topic">New</div>
                  <div class ="box-content"><br><p>Date : 29-09-2021<br>Time : 08:32</p></div>
                  <!-- <div class="number">11034</div> -->
                </div>
              </div>
            </div>  

            <div class="a">
              <h1 class="heading"> <span>Item List</span></h1>
              <div class="order-details">
                    <div class="table-header">
                      <ul>
                        <li>Item Code</li>
                        <li>Item Image</li>
                        <li>Item Name</li>
                        <li>U/Price(LKR)</li>
                        <li>Quantity</li>
                        <li>price(LKR)</li>
                      </ul>
                    </div> 
                
                <div class="ongoing-items scroller">
                  <ul class="item">
                    <li class="item-code">
                    V0011
                    </li>
                    <li class="item-img">
                      <img src="/views/shop/img/Pic915013.jpg" alt="" />
                    </li>
                    <li class="item-name">Potato</li>
                    <li class="u-price">160.00</li>
                    <li class="quantity">2 Kg</li>
                    <li class="price">320.00</li>
                  </ul>   
                  <ul class="item">
                    <li class="item-code">
                    V0011
                    </li>
                    <li class="item-img">
                      <img src="/views/shop/img/Pic915013.jpg" alt="" />
                    </li>
                    <li class="item-name">Potato</li>
                    <li class="u-price">160.00</li>
                    <li class="quantity">2 Kg</li>
                    <li class="price">320.00</li>
                  </ul>   
                  <ul class="item">
                    <li class="item-code">
                    V0011
                    </li>
                    <li class="item-img">
                      <img src="/views/shop/img/Pic915013.jpg" alt="" />
                    </li>
                    <li class="item-name">Potato</li>
                    <li class="u-price">160.00</li>
                    <li class="quantity">2 Kg</li>
                    <li class="price">320.00</li>
                  </ul>   
                  <ul class="item">
                    <li class="item-code">
                    V0011
                    </li>
                    <li class="item-img">
                      <img src="/views/shop/img/Pic915013.jpg" alt="" />
                    </li>
                    <li class="item-name">Potato</li>
                    <li class="u-price">160.00</li>
                    <li class="quantity">2 Kg</li>
                    <li class="price">320.00</li>
                  </ul>   
                  <ul class="item">
                    <li class="item-code">
                    V0011
                    </li>
                    <li class="item-img">
                      <img src="/views/shop/img/Pic915013.jpg" alt="" />
                    </li>
                    <li class="item-name">Potato</li>
                    <li class="u-price">160.00</li>
                    <li class="quantity">2 Kg</li>
                    <li class="price">320.00</li>
                  </ul>   
                  <ul class="item">
                    <li class="item-code">
                    V0011
                    </li>
                    <li class="item-img">
                      <img src="/views/shop/img/Pic915013.jpg" alt="" />
                    </li>
                    <li class="item-name">Potato</li>
                    <li class="u-price">160.00</li>
                    <li class="quantity">2 Kg</li>
                    <li class="price">320.00</li>
                  </ul>   
                  <ul class="item">
                    <li class="item-code">
                    V0011
                    </li>
                    <li class="item-img">
                      <img src="/views/shop/img/Pic915013.jpg" alt="" />
                    </li>
                    <li class="item-name">Potato</li>
                    <li class="u-price">160.00</li>
                    <li class="quantity">2 Kg</li>
                    <li class="price">32000.00</li>
                  </ul>   
                  <ul class="item">
                    <li class="item-code">
                    V0011
                    </li>
                    <li class="item-img">
                      <img src="/views/shop/img/Pic915013.jpg" alt="" />
                    </li>
                    <li class="item-name">Potato</li>
                    <li class="u-price">160.00</li>
                    <li class="quantity">2 Kg</li>
                    <li class="price">3210.00</li>

                  </ul>   
                  <ul class="item">
                    <li class="item-code">
                    V0011
                    </li>
                    <li class="item-img">
                      <img src="/views/shop/img/Pic915013.jpg" alt="" />
                    </li>
                    <li class="item-name">Potato</li>
                    <li class="u-price">160.00</li>
                    <li class="quantity">2 Kg</li>
                    <li class="price">32.00</li>
                  </ul>   
                  <p class = "total">Total = 2500.00</p>
                </div>  
              </div> 
             </div>   
         </div>
        </div>
      </div>
    </section>
    <!-- Home section ends -->
    <script src="./js/dashboardScript.js"></script>
  </body>
</html>
