<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/views/shop/css/ShopStyle.css">
  
  <!-- JavaScript -->
  <script src="/js/jquery.min.js"></script>
  <title>Vishwa Grocery</title>
</head>
<body> 
 <!-- Header start -->
<header>
 <div class="header-1">
  <a href="#" class="logo"><img class="logo-img" src="/img/logo2.png" alt="" srcset=""></a>
  <a href="" class="logout"><i class="fas fa-sign-out-alt"></i></a>
 </div>
<!-- Shop banner start -->
 <section class="shop-banner" id="banner">
   <div class="content">
     <h3 class="title fas fa-store"> Vishwa Stores</h3>
     <h3 class="subtitle">Nugegoda</h3>
   <p>
     <span>No:56/B</span>
     <span>Purana Rd,</span>
     <span>Gangodawila,Nugegoda</span>
   </p>
   <p>
     <span>Contact: <b>0776789054</b></span>
   </p>
   </div>
 </section>
 <!-- Shop banner end -->
 <div class="header-2">
   <nav class="navbar">
     <a href="#All">All</a>
     <a href="#uc">Up Country</a>
     <a href="#lc">Low Country</a>
     <a href="#packeted">Packetes & Units</a>
     <a href="#contact">Special</a>
   </nav> 
   <div class="part">
     <div id="menu-bar" class="fas fa-bars"></div>
     <div id="search-bar">
       <form action="" class="search-box-container">
         <input type="search" id="search-box" placeholder="Search shop..">
         <button class="fas fa-search search "></button>
       </form>
     </div>
   </div>
   <div class="part">
     <div class="icons">
       <a href="#"class="fas fa-shopping-cart"></a>
       <a href="#" class="fas fa-clipboard-list"></a>
       <a href="#" class="fas fa-user"></a>
     </div>
   </div>
</div>
</header>
    <!-- Header end -->
  <!-- Product section start -->
  <section class="product" id="product">

    <h1 class="heading">Shop <span>products</span></h1>
    <section id="uc">
      <h1 class="subheading"><i class="fas fa-leaf"></i> Up <span>country</span></h1>
      <div class="box-container">
        <div class="box">
          <img src="/views/shop/img/Pic914006.jpg" alt="">
          <h3>Big Onion</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> Rs 67.00 <span>/</span> Kg </div>
          <div class="quantity">
              <span>quantity : </span>
              <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <a href="#" class="btn"><i class="fas fa-cart-plus"></i> add to cart</a>
        </div>
        <div class="box">
          <img src="/views/shop/img/Pic914007.jpg" alt="">
          <h3>bitter gourd</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> Rs 67.00 <span>/</span> Kg </div>
          <div class="quantity">
              <span>quantity : </span>
              <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <a href="#" class="btn"><i class="fas fa-cart-plus"></i> add to cart</a>
        </div>
        <div class="box">
          <img src="/views/shop/img/Pic915007.jpg" alt="">
          <h3>Carrot</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> Rs 67.00 <span>/</span> Kg </div>
          <div class="quantity">
              <span>quantity : </span>
              <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <a href="#" class="btn"><i class="fas fa-cart-plus"></i> add to cart</a>
        </div>
        <div class="box">
          <img src="/views/shop/img/Pic915013.jpg" alt="">
          <h3>Potato</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> Rs 67.00 <span>/</span> Kg </div>
          <div class="quantity">
              <span>quantity : </span>
              <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <a href="#" class="btn"><i class="fas fa-cart-plus"></i> add to cart</a>
        </div>
      </div>

    </section>
    <section id="lc">
      <h1 class="subheading"><i class="fas fa-leaf"></i> Low <span>country</span></h1>
      <div class="box-container">
        <div class="box">
          <img src="/views/shop/img/Pic915016.jpg" alt="">
          <h3>Tomato</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> Rs 67.00 <span>/</span> Kg </div>
          <div class="quantity">
              <span>quantity : </span>
              <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <a href="#" class="btn"><i class="fas fa-cart-plus"></i> add to cart</a>
        </div>
        <div class="box">
          <img src="/views/shop/img/Pic914029.jpg" alt="">
          <h3>Lime</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> Rs 67.00 <span>/</span> Kg </div>
          <div class="quantity">
              <span>quantity : </span>
              <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <a href="#" class="btn"><i class="fas fa-cart-plus"></i> add to cart</a>
        </div>
        <div class="box">
          <img src="/views/shop/img/Pic914016.jpg" alt="">
          <h3>Ginger</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> Rs 67.00 <span>/</span> Kg </div>
          <div class="quantity">
              <span>quantity : </span>
              <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <a href="#" class="btn"><i class="fas fa-cart-plus"></i> add to cart</a>
        </div>
        <div class="box">
          <img src="/views/shop/img/Pic914039.jpg" alt="">
          <h3>Pumpkin</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> Rs 67.00 <span>/</span> Kg </div>
          <div class="quantity">
              <span>quantity : </span>
              <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <a href="#" class="btn"><i class="fas fa-cart-plus"></i> add to cart</a>
        </div>
        <div class="box">
          <img src="/views/shop/img/Pic915011.jpg" alt="">
          <h3>Leeks</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> Rs 67.00 <span>/</span> Kg </div>
          <div class="quantity">
              <span>quantity : </span>
              <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <a href="#" class="btn"><i class="fas fa-cart-plus"></i> add to cart</a>
        </div>
        <div class="box">
          <img src="/views/shop/img/Pic915008.jpg" alt="">
          <h3>Green Chillies</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> Rs 67.00 <span>/</span> Kg </div>
          <div class="quantity">
              <span>quantity : </span>
              <input type="number" id="quantity" name="quantity" min="0.5" max="10" step="0.5" value="0.5">
          </div>
          <a href="#" class="btn"><i class="fas fa-cart-plus"></i> add to cart</a>
        </div>
      </div>

    </section>
  </section>
  <!-- Product section end -->

<!-- Footer start -->

<section class="footer" id="contact">

  <div class="box-container">

      <div class="box">
        <a href="#" class="logo"><img class="logo-img" src="/img/logo2.png" alt="" srcset=""></a>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam culpa sit enim nesciunt rerum laborum illum quam error ut alias!</p>
          <div class="communication">
              <a href="#" class="btn fas fa-phone-alt"></a>
              <a href="#" class="btn far fa-envelope"></a>
              <a href="#" class="btn fab fa-whatsapp"></a>
              <a href="#" class="btn fab fa-telegram-plane"></a>
          </div>
      </div>
      
      <div class="box">
          <h3>Address</h3>
          <ul>
            <li class="element">No:56/B,</li>
            <li class="element">Union Avenue,</li>
            <li class="element">Colombo,</li>
            <li class="element">Sri Lanka.</li>
            <li class="element">grocerygalleria33@gmail.com</li>
          </ul>
      </div>

      <div class="box">
          <h3>quick links</h3>
          <div class="links">
              <a href="#home">home</a>
              <a href="#category">category</a>
              <a href="#shops">shops</a>
              <a href="#">FAQ</a>
              <a href="#contact">contact us</a>
          </div>
      </div>
      <div class="box">
          <h3>Services</h3>
          <div class="links">
              <span>
                <img class="features-logo" src="/img/gurantee.png" alt="">
              </span>
              <img class="features-logo" src="/img/cash.png" alt="">
              </span>
              <span>
                <img class="features-logo" src="/img/delivery.png" alt="">
              </span>
          </div>
      </div>
  </div>

  <p class="footer-copyright">&#169; 2021 Grocery Galleria. All right reserved.</p>

</section>
    <!-- Footer ends -->
    
    
  <script src="/views/shop/js/main.js"></script>
</body>
</html> 