<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/views/checkout/css/checkoutStyle.css">
  <title>Checkout</title>
</head>
<body>
  <header>
    <div class="header-1">
      <a href="#" class="logo"><img class="logo-img" src="/img/logo2.png" alt="" srcset=""></a>
      <a href="" class="back"><i class="fas fa-step-backward"></i></a>
      </div>
  </header>
  <!-- footer section starts  -->
<!-- Checkout section starts -->
<section>
  <h1 class="heading"><i class="fas fa-shopping-basket"></i> Order <span>Checkout</span></h1>
    <div class="checkout">
      <div class="container">
        <div class="container-shipping">
          <div class="column-header">Shipping Details</div>
          <div class="shipping-details">
            <div class="details"><i class="fas fa-user"></i> Name<span>Dilshan Thenuka</span></div>
            <div class="details"><i class="fas fa-phone"></i> Phone Number(default)<span>0786756451</span></div>
            <div class="details">
              <label for="Recipient-name"><i class="fas fa-house-user"></i> Recipient Name</label>
              <input type="text" id="Recipient-name" name="Recipient-name">
            </div>
            <div class="details">
              <label for="Recipient-contact"><i class="fas fa-phone-alt"></i> Recipient Contact</label>
              <input type="text" id="Recipient-contact" name="Recipient-contact">
            </div>
            <div class="details">
              <i class="fas fa-home"></i>
              Shipping Address 
              <p>
              No:22/2 Old Kesbewa,<br>
              Gangodawila,<br>
              Nugegoda,<br>
              Colombo.
              </p>
            </div>
            <div class="details">
              <label for="Note"><i class="fas fa-quote-left"></i> Notes</label>
              <textarea type="text" id="Note" name="Note" cols="20" rows="5"></textarea>
            </div>
          </div>
        </div> 
        <div class="container-refund">
          <div class="column-header">Refund Details</div>
          <div class="refund-details">
            <p>Incase of some of the products are out of stock, please tell us how you wish to receive the refund</p>
            <div class="input-box">
              <div class="refund">
                <input type="radio" name="refundcash" class="">
                <label for="refundcash" id="refundcash">Refund amount by cash (Immediate Refund)</label>
              </div>
              <div class="refund">
                <input type="radio" name="refundcredit" class="">
                <label for="refundcredit" id="refundcredit">Transfer refund amount to card(Refund in 5 working days)</label>
              </div>
            </div>
          </div>
        </div> 
        <div class="container-payment">
          <div class="column-header">Payment Details</div>
          <div class="payment-details">
            <div class="details">Item count: <span>12</span></div>
            <div class="details">Subtotal: <span>Rs 1250</span></div>
            <div class="details">No of Shops: <span>4</span></div>
            <div class="details">Delivery Charges: <span>Rs.150</span></div>
            <div class="details total">Total: <span>Rs 1600</span></div>
          </div>
          <button class="btn checkout">Proceed to Payment</button>
        </div>
      </div>
    </div>

</section>
<!-- Checkout section ends -->
<section class="footer" id="contact">

  <div class="box-container">

      <div class="box">
        <a href="#" class="logo"><img class="logo-img" src="/img/logo2.png" alt="" srcset=""></a>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam culpa sit enim nesciunt rerum laborum illum quam error ut alias!</p>
          <div class="communication">
              <a href="#" class="btn fas fa-phone-alt"></a>
              <a href="#" class="btn far fa-envelope"></a>
              <a href="#" class="btn fab fa-whatsapp"></a>
              <a href="#" class="btn fab fa-telegram-plane"></a>
          </div>
      </div>
      
      <div class="box">
          <h3>Address</h3>
          <ul>
            <li class="element">No:56/B,</li>
            <li class="element">Union Avenue,</li>
            <li class="element">Colombo,</li>
            <li class="element">Sri Lanka.</li>
            <li class="element">grocerygalleria33@gmail.com</li>
          </ul>
      </div>

      <div class="box">
          <h3>quick links</h3>
          <div class="links">
              <a href="#home">home</a>
              <a href="#category">category</a>
              <a href="#shops">shops</a>
              <a href="#">FAQ</a>
              <a href="#contact">contact us</a>
          </div>
      </div>

      <div class="box">
          <h3>Services</h3>
          <div class="links">
              <span>
                <img class="features-logo" src="/img/gurantee.png" alt="">
              </span>
              <img class="features-logo" src="/img/cash.png" alt="">
              </span>
              <span>
                <img class="features-logo" src="/img/delivery.png" alt="">
              </span>
          </div>
      </div>
    </div>
    
    <p class="footer-copyright">&#169; 2021 Grocery Galleria. All right reserved.</p>
</section>
</body>
</html>